<div class="modal-header">
    <button type="button" class="close modal-button-close" data-dismiss="modal" ng-click="$dismiss()">
        <span class="icon-ICON_X_CLOSEWINDOW"></span>
    </button>
    <h4 class="modal-title" id="myModalLabel">Add Task to Template</h4>
</div>

<div id="addTaskContainer" class="modal-body">
    <div class="alertMessagesContainer" alert-messages></div>
    <div ng-include="'app/admin-app/mobilityorders/views/addTask.html'"></div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-black" data-dismiss="modal" ng-click="$dismiss()">Cancel</button>
    <button type="button" class="btn btn-orange" data-dismiss="modal" ng-click="addTask.add()">Add</button>
</div>
