<div class="col-md-12">
        
        <!-- Mobility Search Forms/Selections -->
        <div class="row">
            <accordion class="app-accordion">
                <accordion-group is-open="mobilityorders.searchAccordionOpen">

                    <accordion-heading>
                        <span class="app-accordion-header">Workorder Template Search</span>
                        <i class="pull-right glyphicon app-accordion-open-icon" ng-class="{'glyphicon-chevron-up': mobilityorders.searchAccordionOpen, 'glyphicon-chevron-down': !mobilityorders.searchAccordionOpen}"></i>
                    </accordion-heading>

                    <!-- Container Header Underline -->
                    <div style="border-bottom: solid; border-width: 1px; margin-bottom: 20px; color: #9C9C9C; margin-left: 15px; margin-right: 15px;"></div>

                    
                    <!-- Search Forms/Selections -->
                    <div class="row" style="padding-left: 15px; padding-right: 15px;">
                        <div class="col-md-4">
                            <div class="canopi-input-title">Project Order Type:</div>
                            <!--<div ng-dropdown-multiselect="" options="mobilityorders.poType" events="mobilityorders.poTypeSelectionEvents" selected-model="mobilityorders.poTypeCurrentSelection" extra-settings="mobilityorders.poTypeSettings" translation-texts="'asdfasdf'"></div>-->
                            <div isteven-multi-select
                                 input-model="mobilityorders.poTypeMultiselectPickList"
                                 output-model="mobilityorders.poTypeMultiselectPickListOutput"
                                 button-label="icon name"
                                 item-label="icon name maker"
                                 tick-property="ticked"
                                 max-labels="0"
                                 on-item-click="mobilityorders.poTypeSelectionClickItemEvent(data)"
                                 on-select-none="mobilityorders.poTypeSelectionSelectNoneEvent()"
                                 on-select-all="mobilityorders.poTypeSelectionSelectAllEvent()"
                                 on-reset="mobilityorders.poTypeSelectionResetEvent()"
                                 max-height="350px"
                                 >
                            </div>
                        </div>
                                       
                        <div class="col-md-4">
                            <form>
                                <div class="canopi-input-title">Work Order Type:</div>
                                <div class="form-group">
                                    <div class="dropdown">
                                        <select 
                                            ng-model="mobilityorders.woType" ng-options="a.name for a in ::mobilityorders.woPickList"
                                            class="dropdown-select form-control"
                                            title="Please select" data-live-search="true"  ng-change="mobilityorders.displayOrderDetail(mobilityorders.woType.name);">
                                            <option value="" selected>Please select one</option>
                                        </select>
                                    </div>
                                </div>

                            </form>
                        </div>
                        
                    </div>
                    
                </accordion-group>                           
            </accordion>
        </div> <!-- Mobility Search Forms/Selections -->
        

        <div ng-show="mobilityorders.displayOrderDetailsFlag" ng-include="'app/admin-app/mobilityorders/views/mobilityOrderDetail.html'">
        </div>
    </div> <!-- col-md-12 -->
