<!-- Mobility Search Details -->
<div class="row">
    <div class="panel panel-default app-panel">
        <div class="panel-heading app-panel-heading">
            <div class="app-panel-title">
                <span class="app-panel-header">Mobility Order Template Details</span>
            </div>
        </div>

        <div class="panel-body">

            <div class="row" style="padding-left: 15px; padding-right: 15px;">

                <div class="col-md-12">
                    <div style="border-bottom: solid; border-width: 1px; color: #9C9C9C; margin-bottom: 20px;"></div> 

                    <div class="panel-heading sub-panel-heading" style="padding-top: 0;">
                        <div class="sub-panel-title">
                            <form class="form-inline" style="display: inline; padding-left: 5px;">
                                <div class="form-group pull-right" style="margin-bottom: 7px;">
                                    <button class='btn btn-orange btn-sm btn-wide'
                                            ng-disabled="mobilityorders.gridApiSelectedWO.rowEdit.getDirtyRows().length < 1" 
                                            ng-click="mobilityorders.wo.save()">
                                        <i class="fa fa-floppy-o xs-h-space"></i> Save
                                    </button>
                                    <button class="btn btn-gray btn-sm btn-wide"
                                            ng-disabled="mobilityorders.gridApiSelectedWO.rowEdit.getDirtyRows().length < 1"
                                            ng-click="mobilityorders.wo.undo()">
                                        <i class="fa fa-undo xs-h-space"></i> Undo
                                    </button>

                                </div>
                            </form>
                        </div>
                    </div>                             
                    <div class="row">
                        <div class="col-md-12">
                            <div style="width:auto; height:85px" ui-grid="mobilityorders.gridOptionsSelectedWO" 
                                 ui-grid-cellNav 
                                 ui-grid-edit 
                                 ui-grid-row-edit 
                                 ui-grid-selection 
                                 ui-grid-resize-columns 
                                 ui-grid-auto-resize>
                            </div> 
                        </div>
                    </div>

                    <div class="panel-heading sub-panel-heading" style="padding-top: 20px;">
                        <div class="sub-panel-title">
                            <span class="sub-panel-header">Task List</span>
                            <form class="form-inline" style="display: inline; padding-left: 5px;">
                                <div class="form-group pull-right" style="margin-top: 3px; padding-right: 10px; margin-right: 85px;">
                                    <button class="btn btn-success btn-sm btn-wide"
                                            ng-click="mobilityorders.tasklist.export()"><i class="fa fa-fw fa-file-excel-o xs-h-space"></i> Export
                                    </button>
                                    <button class='btn btn-orange btn-sm btn-wide'
                                            ng-disabled="mobilityorders.gridApiTaskList.rowEdit.getDirtyRows().length < 1" 
                                            ng-click="mobilityorders.tasklist.saveTasks()">
                                        <i class="fa fa-floppy-o xs-h-space"></i> Save
                                    </button>
                                    <button class="btn btn-gray btn-sm btn-wide"
                                            ng-disabled="mobilityorders.gridApiTaskList.rowEdit.getDirtyRows().length < 1" 
                                            ng-click="mobilityorders.tasklist.undo()">
                                        <i class="fa fa-undo xs-h-space"></i> Undo
                                    </button>

                                    <div class="btn-group btn-group-sm" dropdown>
                                        <button type="button" ng-disabled="mobilityorders.isEditing" class="btn btn-blue btn-wide dropdown-toggle" dropdown-toggle>
                                            <i class="fa fa-gears xs-h-space"></i> Actions <span class="caret" style="margin-left:7px;"></span>
                                        </button>                                        
                                        <ul class="dropdown-menu" role="menu">
                                            <li ng-click="mobilityorders.tasklist.addTask()" data-toggle="modal" data-target="#addTaskModal"><a href="javascript:void(0)"><i class="fa fa-fw fa-plus-circle"></i> Add Task To Template</a></li>
                                            <li ng-class="{disabled: !mobilityorders.selectedRowTaskList}" ng-click="mobilityorders.tasklist.removeTask()"><a href="javascript:void(0)"><i class="fa fa-fw fa-minus-circle"></i> Remove Task From Template</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>                             
                    <div class="row">
                        <div class="col-md-11">
                            <div  ui-grid="mobilityorders.gridOptionsTaskListTable" 
                                  ui-grid-exporter ui-grid-cellNav ui-grid-edit ui-grid-row-edit ui-grid-selection 
                                  ui-grid-resize-columns ui-grid-auto-resize class="mobilityordersTaskListTable"></div>
                        </div>
                        <div class="col-md-1">
                            <div class="btn-group-vertical" role="group" aria-label="Vertical button group" style="margin-top: 90px; text-align: center;">
                                <p style="font-size: 14px; font-weight: bold">Modify Sequence</p>
                                <div>
                                    <button type="button" class="btn btn-blue" style="border-radius: 0;" ng-click="mobilityorders.tasklist.moveSelectedUp()" ng-disabled="mobilityorders.firstElement"><i class="fa fa-arrow-up"></i></button>
                                    <button type="button" class="btn btn-blue" style="border-radius: 0;" ng-click="mobilityorders.tasklist.moveSelectedDown()" ng-disabled="mobilityorders.lastElement"><i class="fa fa-arrow-down"></i></button>
                                </div>                             
                            </div>
                        </div>
                    </div>
                    <div class="panel-heading sub-panel-heading" style="padding-top: 20px;">
                        <div class="sub-panel-title">
                            <span class="sub-panel-header">Document URLs</span>
                            <form class="form-inline" style="display: inline; padding-left: 5px;">
                                <div class="form-group pull-right" style="margin-top: 3px;">
                                    <button class="btn btn-success btn-sm btn-wide"
                                            ng-click="mobilityorders.links.export()">
                                        <i class="fa fa-fw fa-file-excel-o  xs-h-space"></i> Export
                                    </button>
                                    <button class='btn btn-orange btn-sm btn-wide'
                                            ng-disabled="mobilityorders.gridApiLinks.rowEdit.getDirtyRows().length < 1"
                                            ng-click="mobilityorders.links.saveLink()">
                                        <i class="fa fa-floppy-o  xs-h-space"></i> Save
                                    </button>
                                    <button class="btn btn-gray btn-sm btn-wide"
                                            ng-disabled="mobilityorders.gridApiLinks.rowEdit.getDirtyRows().length < 1"
                                            ng-click="mobilityorders.links.undo()">
                                        <i class="fa fa-undo  xs-h-space"></i> Undo
                                    </button>
                                    <div class="btn-group btn-group-sm" dropdown>
                                        <button type="button" ng-disabled="mobilityorders.isEditing" class="btn btn-blue btn-wide dropdown-toggle" dropdown-toggle>
                                            <i class="fa fa-gears  xs-h-space"></i> Actions <span class="caret" style="margin-left:7px;"></span>
                                        </button>                                        
                                        <ul class="dropdown-menu" role="menu">
                                            <li ng-click="mobilityorders.links.addLink($event)"><a href="javascript:void(0)"><i class="fa fa-fw fa-plus-circle"></i> Add Link</a></li>
                                            <li ng-click="mobilityorders.links.removeLink()"><a href="javascript:void(0)"><i class="fa fa-fw fa-minus-circle"></i> Remove Link</a></li>
                                        </ul>    
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>   

                    <div class="row">
                        <div class="col-md-12">
                            <div  ui-grid="mobilityorders.gridOptionsLinksTable" 
                                  ui-grid-exporter 
                                  ui-grid-cellNav 
                                  ui-grid-edit 
                                  ui-grid-row-edit 
                                  ui-grid-selection 
                                  ui-grid-resize-columns 
                                  ui-grid-auto-resize 
                                  class="LinksTableUIGrid"></div>
                        </div> 
                    </div>


                    <div class="panel-heading sub-panel-heading" style="padding-top: 20px;">
                        <div class="sub-panel-title">
                            <span class="sub-panel-header">Dynamic Workorder Attributes</span>
                            <form class="form-inline" style="display: inline; padding-left: 5px;">
                                <div class="form-group pull-right" style="margin-top: 3px;">
                                    <button class="btn btn-success btn-sm btn-wide"
                                            ng-click="mobilityorders.uda.export()">
                                        <i class="fa fa-fw fa-file-excel-o xs-h-space"></i> Export
                                    </button>
                                    <button class='btn btn-orange btn-sm btn-wide'
                                            ng-disabled="mobilityorders.gridApiUDA.rowEdit.getDirtyRows().length < 1"
                                            ng-click="mobilityorders.uda.saveUDA()">                                            
                                        <i class="fa fa-floppy-o xs-h-space"></i> Save
                                    </button>
                                    <button class="btn btn-gray btn-sm btn-wide"
                                            ng-disabled="mobilityorders.gridApiUDA.rowEdit.getDirtyRows().length < 1"
                                            ng-click="mobilityorders.uda.undo()">
                                        <i class="fa fa-undo xs-h-space"></i> Undo
                                    </button>
                                    <div class="btn-group btn-group-sm" dropdown>
                                        <button type="button" ng-disabled="mobilityorders.isEditing" class="btn btn-blue btn-wide dropdown-toggle" dropdown-toggle>
                                            <i class="fa fa-gears xs-h-space"></i> Actions <span class="caret" style="margin-left:7px;"></span>
                                        </button>                                        
                                        <ul class="dropdown-menu" role="menu">
                                            <li ng-click="mobilityorders.uda.addUDA()"><a href="javascript:void(0)"><i class="fa fa-fw fa-plus-circle"></i> Add UDA To Template</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>   

                    <div class="row">
                        <div class="col-md-12">
                            <div  ui-grid="mobilityorders.gridOptionsUDATable" 
                                  ui-grid-exporter 
                                  ui-grid-cellNav 
                                  ui-grid-edit 
                                  ui-grid-row-edit 
                                  ui-grid-selection 
                                  ui-grid-resize-columns 
                                  ui-grid-auto-resize 
                                  class="UDATableUIGrid"></div>
                        </div> 
                    </div>

                </div>

            </div>             
        </div>
    </div>
</div> <!-- Mobility Search Details -->

<div ng-include="'app/admin-app/mobilityorders/views/addTaskModal.html'">
</div>	