<div class="col-md-12">
    <!-- PROJECT LOOKUP -->
    <div class="row">
        <accordion class="app-accordion">
            <accordion-group is-open="mobilityorders.searchAccordionOpen">

                <accordion-heading>
                    <span class="app-accordion-header">Project Order Lookup</span>
                    <i class="pull-right glyphicon app-accordion-open-icon"
                       ng-class="{'glyphicon-chevron-up': mobilityorders.searchAccordionOpen, 'glyphicon-chevron-down': !mobilityorders.searchAccordionOpen}"></i>
                </accordion-heading>

                <div class="app-header-underline"></div>

                <div class="col-md-4">
                    <form>
                        <div class="canopi-input-title">Project Order Type:</div>
                        <div class="form-group">
                            <div class="dropdown">
                                <select 
                                    ng-model="mobilityorders.poType" ng-options="a.name for a in ::mobilityorders.poPicklist"
                                    class="dropdown-select form-control"
                                    title="Please select" data-live-search="true" ng-change="mobilityorders.displayNewWOTemplateTable();">
                                    <option value="" selected>Please select one</option>
                                </select>
                            </div>
                        </div>

                    </form>
                </div>

            </accordion-group>
        </accordion>
    </div>

    <div  ng-show="mobilityorders.displayNewWOTemplateTableFlag" ng-include="'app/admin-app/mobilityorders/views/newWOTemplateDetail.html'">
    </div>

</div> <!-- col-md-12 -->

