<div class="row">
    <div class="col-md-12 searchFieldLabel">
        <span for="version" style="color: #777; font-size: 14px; font-weight: bold;">Build Version: &nbsp;</span>
        <span for="versionData">{{adminmain.serverVersion}}</span>
    </div>
</div>

<div class="row" style="padding-top: 10px; padding-bottom: 10px;">
    <div class="col-md-12 searchFieldLabel">
            <span for="installDate" style="color: #777; font-size: 14px; font-weight: bold;">Install Date: &nbsp;</span>
            <span for="installDateData">{{adminmain.serverTimeStamp}}</span>
    </div>
</div>

<div class="row">
    <div class="col-md-12 searchFieldLabel">
            <span for="currentDate" style="color: #777; font-size: 14px; font-weight: bold;">Current Date: &nbsp;</span>
            <span for="currentDateData">{{adminmain.currentDate}}</span>
    </div>
</div>

