<!-- BREADCRUMBS - We can setup with Angular $location -->
<div class="row">
    <div class="panel panel-default">
        <div class="panel-body">
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-home fa-lg"></i>&nbsp;&nbsp;&nbsp;Home</a></li>
                <li class="active">Manage Users</li>
            </ol>
        </div>
    </div>
</div>

<!--  <div activity-indicator="isLoading"></div> -->

<!-- PANEL - ng-grid table for users and tabs for each user's information -->
<div class="row">
    <div class="panel panel-default">
        <!--<span ng-show="mainTableSelection.length > 0">{{' - '+mainTableSelection[0].firstName}} {{mainTableSelection[0].lastName}} {{'('+mainTableSelection[0].attUid+')'}}</span>-->

        <div class="panel-body">

            <div class="col-lg-4 col-md-4 col-sm-12">
                <!-- Filter Panel -->
                <div class="form-group">
                    <div class="canopi-input-title">Search By:</div>
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="filterOptions.filterText"
                               placeholder="Type and Search">
                    <span class="input-group-btn">
                        <button class="btn btn-default canopi-btn-sharp-corners" type="button"><i
                                class="fa fa-search"></i></button>
                    </span>
                    </div>
                    <!-- /input-group -->
                </div>
                <!-- END : Search Filter-->
                <!-- NG-GRID -->
                <div cg-busy="{promise:allUsersPromise, message:'Loading Your Data', templateUrl:'lib/angular-busy/custom-templates/mycustomtemplate2.html'}" class="gridStyle-userMgmt" ng-grid="gridOptions"></div>
                <br/> <!-- NG: Grid Call.. -->

                <button type="button" class="btn btn-blue" data-toggle="modal"
                        data-target="#addUserModal" ng-click="clearUsersearchForm()">Add User
                </button>
                <button type="button" class="btn btn-blue" data-toggle="modal"
                        data-target="#deleteUserModal" ng-disabled="disabled">Delete User
                </button>

            </div>

            <div class="col-lg-8 col-md-8 col-sm-12" style="padding-top: 15px;" cg-busy="{promise:groupDataPromise, message:'Loading Your Data', templateUrl:'lib/angular-busy/custom-templates/mycustomtemplate2.html'}" >
                <tabset class="canopi-tabset canopi-admin-tabset">
                    <tab heading="User Info">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="form-group">
                                    <div class="canopi-input-title">User ID:</div>
                                    <input type="text" class="form-control" value="{{userInfoData.attUid}}" readonly>
                                </div>
                                <div class="form-group">
                                    <div class="canopi-input-title">First Name:</div>
                                    <input type="text" class="form-control" value="{{userInfoData.firstName}}" readonly>
                                </div>
                                <div class="form-group">
                                    <div class="canopi-input-title">Last Name:</div>
                                    <input type="text" class="form-control" value="{{userInfoData.lastName}}" readonly>
                                </div>
                                <div class="form-group">
                                    <div class="canopi-input-title">Email ID:</div>
                                    <input type="text" class="form-control" value="{{userInfoData.email}}" readonly>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="form-group">
                                    <div class="canopi-input-title">Telephone Number:</div>
                                    <input type="text" class="form-control" value="{{userInfoData.tn}}" readonly>
                                </div>
                                <div class="form-group">
                                    <div class="canopi-input-title">Location:</div>
                                    <input type="text" class="form-control" value="{{userInfoData.location}}" readonly>
                                </div>
                                <div class="form-group">
                                    <div class="canopi-input-title">Silo Status:</div>
                                    <input type="text" class="form-control" value="{{userInfoData.siloStatus}}"
                                           readonly>
                                </div>
                            </div>
                        </div>
                    </tab>
                    <tab heading="Group">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12" 
                                 group-assignment leftboxtitle="User Group List" rightboxtitle="Group List"
                                 left-items="userInfoData.workGroup"
                                 right-items="groupGridData.workGrouplist"
                                 cols="columnDefns"
                                 grid-custom-options="leftRightgridOptions"
                                 add-items="addItems(itemsToBeAdded)"
                                 delete-items="deleteItems(itemsToBeRemoved)"
                                 move-left="moveToLeft()"
                                 move-right="moveToRight()"
                                 >
                            </div>
                    <!-- 
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <br/><label>Group Description:</label>
                                <textarea id='gList' class="form-control" rows="1" readonly></textarea>
                            </div>
                    -->
                        </div>
                    </tab>
                    <tab heading="SBR Task Rules" disabled="true">SBR Task Rules</tab>
                    <tab heading="SBR Priority Rules" disabled="true">SBR Priority Rules</tab>
                </tabset>
            </div>

            </div>
    </div>
</div>


<!-- ADMIN - ADD USER MODAL -->
<div class="modal fade" id="addUserModal" draggable tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog dialogbox">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close modal-button-close" data-dismiss="modal" aria-hidden="true"><span
                        class="icon-ICON_X_CLOSEWINDOW"></span></button>
                <h4 class="modal-title" id="myModalLabel">Add User</h4>
            </div>
            <div class="modal-body">
                <div ng-include="'app/admin/views/manageUsers/addUser.html'"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-blue" data-toggle="modal" data-target="#addGroupModal" ng-disabled="addUserdisabled" 
                        ng-click="groupList()">Add Group
                </button>
                <button type="button" class="btn btn-blue" ng-click="removeFromListbox()" ng-disabled="removeFromListdisabled">Remove
                    Group
                </button>
                <button type="button" class="btn btn-orange" data-dismiss="modal" data-toggle="modal" ng-click="userAdd()" ng-disabled="toggleSave">
                    Save          
                </button>
                <button type="button" class="btn btn-black" data-dismiss="modal" ng-click="disableButtons()">Cancel</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- ADMIN - ADD USER SUCCESS MESSAGE MODAL 
<div modal-dialog dialog-id="addUserSuccessMsgModal"
                  title-id="myModalLabel" 
                  body-id="successMsg"
                  title="Message"
                  message="User Added Successfully"
                  button-label="Ok">
</div><!-- /.modal -->

<!-- ADMIN - ADD USER SUCCESS MESSAGE MODAL -->
<div class="container">
<script type="text/ng-template" id="addUserSuccessMsgModal.html">
<div class="modal fade" draggable>
    <div class="modal-dialog">
       <div class="modal-content">
          <div class="modal-header">
             <button type="button" class="close modal-button-close" data-dismiss="modal" aria-hidden="true"><span
                        class="icon-ICON_X_CLOSEWINDOW"></span></button>
             <h4 class="modal-title">Message</h4>
          </div>
          <div class="modal-body">
             <p>User Added Successfully</p>
          </div>
          <div class="modal-footer">
             <button type="button" class="btn btn-blue" data-dismiss="modal">Ok</button>
          </div>
       </div>
    </div>
</div>
</script>
</div> 

<!-- ADMIN - ADD GROUP -->
<div class="modal fade" id="addGroupModal" draggable tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm-mUsers dialogbox">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close modal-button-close" data-dismiss="modal" aria-hidden="true"><span
                        class="icon-ICON_X_CLOSEWINDOW"></span></button>
                <h4 class="modal-title" id="myModalLabel">Add Group</h4>
            </div>
            <div class="modal-body">
                <div ng-include="'app/admin/views/manageUsers/mngUsersAddGroup.html'"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-blue" ng-click="addToListbox()" data-dismiss="modal">Ok</button>
                <button type="button" class="btn btn-black" data-dismiss="modal">Cancel</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- ADMIN - DELETE USER -->
<div class="modal fade" id="deleteUserModal" draggable tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog dialogbox">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close modal-button-close" data-dismiss="modal" aria-hidden="true"><span
                        class="icon-ICON_X_CLOSEWINDOW"></span></button>
                <h4 class="modal-title" id="myModalLabel">Confirmation Message</h4>
            </div>
            <div class="modal-body">
                <div ng-include="'app/admin/views/manageUsers/deleteUser.html'"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-blue" ng-click="userDeleteCheck()" data-dismiss="modal" data-toggle="modal">
                    <span>Yes</span>
                </button>
                <button type="button" class="btn btn-blue" ng-click="userDeleteCancel()" data-dismiss="modal" data-toggle="modal">
                    <span>No</span>
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- ADMIN -ERROR DELETE USER 
<div modal-dialog dialog-id="errordeleteUserModal"
                  title-id="myModalLabel" 
                  body-id="errorMsg"
                  title="ERROR"
                  message="Cannot proceed with Delete. Please remove all associated groups assigned to this user"
                  button-label="Ok">
</div><!-- /.modal -->

<!-- ADMIN -ERROR DELETE USER -->
<div class="container">
<script type="text/ng-template" id="errorDeleteUsermodal.html">
<div class="modal fade" draggable>
    <div class="modal-dialog">
       <div class="modal-content">
          <div class="modal-header">
             <button type="button" class="close modal-button-close" data-dismiss="modal" aria-hidden="true"><span
                        class="icon-ICON_X_CLOSEWINDOW"></span></button>
             <h4 class="modal-title">ERROR</h4>
          </div>
          <div class="modal-body">
             <p>Cannot proceed with Delete. Please remove all associated groups assigned to this user</p>
          </div>
          <div class="modal-footer">
             <button type="button" class="btn btn-blue" data-dismiss="modal">Ok</button>
          </div>
       </div>
    </div>
</div>
</script>
</div>

<!-- ADMIN - DELETE USER SUCCESS MESSAGE MODAL 
<div modal-dialog dialog-id="deleteUserSuccessMsgModal"
                  title-id="myModalLabel" 
                  body-id="delSuccessMsg"
                  title="Message"
                  message="User Deleted Successfully"
                  button-label="Ok">
</div><!-- /.modal -->

<!-- ADMIN - DELETE USER SUCCESS MESSAGE MODAL -->
<div class="container">
<script type="text/ng-template" id="deleteUserSuccessMsgModal.html">
<div class="modal fade" draggable>
    <div class="modal-dialog">
       <div class="modal-content">
          <div class="modal-header">
             <button type="button" class="close modal-button-close" data-dismiss="modal" aria-hidden="true"><span
                        class="icon-ICON_X_CLOSEWINDOW"></span></button>
             <h4 class="modal-title">Message</h4>
          </div>
          <div class="modal-body">
             <p>User Deleted Successfully</p>
          </div>
          <div class="modal-footer">
             <button type="button" class="btn btn-blue" data-dismiss="modal">Ok</button>
          </div>
       </div>
    </div>
</div>
</script>
</div>

<!-- ADMIN - EXISTING USER ERROR MESSAGE MODAL -->
<div class="container">
<script type="text/ng-template" id="existingUserErrorMsgModal.html">
<div class="modal fade" draggable>
    <div class="modal-dialog">
       <div class="modal-content">
          <div class="modal-header">
             <button type="button" class="close modal-button-close" data-dismiss="modal" aria-hidden="true"><span
                        class="icon-ICON_X_CLOSEWINDOW"></span></button>
             <h4 class="modal-title">ERROR</h4>
          </div>
          <div class="modal-body">
             <p>User already exists in UAM.</p>
          </div>
          <div class="modal-footer">
             <button type="button" class="btn btn-blue" data-dismiss="modal">Ok</button>
          </div>
       </div>
    </div>
</div>
</script>
</div>
