<div class="panel-heading sub-panel-heading" style="padding-top: 20px;">
    <div class="sub-panel-title">
        <span class="sub-panel-header">Subtasks for selected tasks</span>
        <form class="form-inline" style="display: inline; padding-left: 5px;">
            <div class="form-group pull-right" style="margin-top: 3px;">
                <button class="btn btn-success btn-sm btn-wide"
                    ng-click="tasks.subTask.export()"><i class="fa fa-fw fa-file-excel-o xs-h-space"></i> Export
                </button>
                <button class='btn btn-orange btn-sm btn-wide'
                    ng-disabled="tasks.gridApiSubTasks.rowEdit.getDirtyRows().length < 1" 
                    ng-click="tasks.subTask.saveTasks()">
                    <i class="fa fa-floppy-o xs-h-spaces"></i> Save
                </button>
                <button class="btn btn-gray btn-sm btn-wide"
                    ng-disabled="tasks.gridApiSubTasks.rowEdit.getDirtyRows().length < 1"
                    ng-click="tasks.subTask.undo()">
                    <i class="fa fa-undo xs-h-space"></i> Undo
                </button>
                <div class="btn-group btn-group-sm" dropdown>
                    <button type="button" ng-disabled="tasks.isEditing" class="btn btn-blue btn-wide dropdown-toggle" dropdown-toggle>
                        <i class="fa fa-gears xs-h-space"></i> Actions <span class="caret" style="margin-left:7px;"></span>
                    </button>                                        
                    <ul class="dropdown-menu" role="menu">
                        <li ng-class="{disabled: tasks.selectedRowSubTask}" ng-click="tasks.subTask.addItem()"><a href="javascript:void(0)"><i class="fa fa-fw fa-plus-circle"></i> Add</a></li>
                        <li ng-click="tasks.subTask.addItem()" ng-class="{disabled: !tasks.selectedRowSubTask}"><a href="javascript:void(0)"><i class="fa fa-fw fa-long-arrow-down"></i> Add Item Below</a></li>
                        <li ng-class="{disabled: !tasks.selectedRowSubTask}" ng-click="tasks.tasklist.recalcTaskSequence()"><a href="javascript:void(0)"><i class="fa fa-fw fa-clipboard"></i> Copy/Add</a></li>
                    </ul>
                </div>
               
            </div>
        </form>
    </div>
</div>  
<div class="row">                        
    <div class="col-md-12">
        <div  ui-grid="tasks.gridOptionsSubTasks" 
              ui-grid-exporter
              ui-grid-cellNav 
              ui-grid-edit 
              ui-grid-row-edit
              ui-grid-selection 
              ui-grid-resize-columns 
              ui-grid-auto-resize 
              class="subTasksGrid">
        </div>
    </div>                     
</div>

