<!-- Task Search Results -->
<div class="row">
    <div class="panel panel-default app-panel">
        <div class="panel-heading app-panel-heading">
            <div class="app-panel-title">
                <span class="app-panel-header">Task Result</span>
            </div>
        </div>

        <div class="panel-body">

            <div class="app-header-underline"></div>

            <div class="col-md-12">
                
                <div class="app-table-top-menu">
                    
                    <form class="form-inline">
                        <div class="form-group">
                            <span class="app-table-top-menu-title">Tasks Table</span>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text"
                                   ng-model="tasks.lookupFilter"
                                   ng-model-options="{debounce: 300}"
                                   ng-change="tasks.refreshData(tasks.lookupFilter)"
                                   placeholder="Search"/>                       
                        </div>
                        <div class="form-group app-button-group pull-right">
                            <button class="btn btn-success btn-sm btn-wide"
                                    ng-click="tasks.taskResult.export()"><i class="fa fa-fw fa-file-excel-o  xs-h-space"></i> Export
                            </button>
                            <button class='btn btn-orange btn-sm btn-wide'
                                    ng-disabled="tasks.gridApi.rowEdit.getDirtyRows().length < 1"
                                    ng-click="tasks.taskResult.saveTasks()">
                                <i class="fa fa-floppy-o  xs-h-space"></i> Save
                            </button>
                            <button class="btn btn-gray btn-sm btn-wide"
                                    ng-disabled="tasks.undoStack.length === 0 || !tasks.undoStack.length"
                                    ng-click="tasks.taskResult.undo()">
                                <i class="fa fa-undo  xs-h-space"></i> Undo
                            </button>

                            <div class="btn-group btn-group-sm" dropdown>
                                <button type="button" ng-disabled="mobilityorders.isEditing" class="btn btn-blue btn-wide dropdown-toggle" dropdown-toggle>
                                    <i class="fa fa-gears xs-h-space"></i> Actions <span class="caret" style="margin-left:7px;"></span>
                                </button>                                        
                                <ul class="dropdown-menu" role="menu">
                                    <li ng-class="{disabled: tasks.selectedRow}" ng-click="tasks.selectedRow || tasks.taskResult.addItem()"><a href="javascript:void(0)"><i class="fa fa-fw fa-plus-circle"></i> Add</a></li>
                                    <li ng-class="{disabled: !tasks.selectedRow}" ng-click="!tasks.selectedRow || tasks.taskResult.addItem()"><a href="javascript:void(0)"><i class="fa fa-fw fa-long-arrow-down"></i> Add Item Below</a></li>
                                    <li ng-class="{disabled: !tasks.selectedRow}" ng-click="!tasks.selectedRow || tasks.taskResult.insertCopyAtLocation()"><a href="javascript:void(0)"><i class="fa fa-fw fa-clipboard"></i> Copy/Add</a></li>
                                    <li class="divider"><li>
                                    <li ng-class="{disabled: !tasks.newRow}" ng-click="!tasks.newRow || tasks.taskResult.discardItem()"><a href="javascript:void(0)"><i class="fa fa-fw fa-minus-circle"></i> Discard Item</a></li>
                                </ul>
                            </div>

                        </div>
                    </form>

                </div>
                <div  ui-grid="tasks.gridOptions" 
                      ui-grid-exporter
                      ui-grid-cellNav 
                      ui-grid-edit 
                      ui-grid-row-edit 
                      ui-grid-selection 
                      ui-grid-resize-columns 
                      ui-grid-auto-resize
                      class="tasksTasksListUIGrid">

                </div>    
                <div ng-show="tasks.displaySubtaskResults" ng-include="'app/admin-app/tasks/views/subtaskResults.html'">
                </div>
            </div>                                
        </div>
    </div>
</div> <!-- Task Search Results -->
