<!-- Modal - Add Task Code Name Modal -->
<div class="modal fade" id="taskCodeNameModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close modal-button-close" data-dismiss="modal" >
                    <span class="icon-ICON_X_CLOSEWINDOW"></span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Task Code/Name Search</h4>
            </div>

            <div class="modal-body">
                <div ng-include="'app/admin-app/tasks/views/taskCodeNameTable.html'"></div>
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-black" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-orange" ng-disabled="!tasks.selectedRowTaskCodeAndName" ng-click="tasks.selectedTaskCodeAndName()">Select</button>
            </div>
            
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->		