<div class="row">
    
    <div class="panel panel-default app-panel">

        <div class="panel-body">

            <div class="row" style="padding-left: 15px; padding-right: 15px; height: 450px;">

                <div class="col-md-6 col-md-offset-4 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1" style="margin-top: 140px;">
                    
                    <i class="fa fa-home fa-lg" style="color: #ef6f00;"></i>
                    <p style="color: #ef6f00; font-size: 45px; font-weight: normal;">Welcome {{userFirstName}}</p>
                    <p>Please select one of the menu items above</p>

                </div>
            
            </div>             
        
        </div>
    
    </div>
    
</div>