<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="form-group canopi-right-inner-addon" style="margin-bottom:5px">
                <i class="fa fa-search"></i>
                <input type="text" class="form-control" ng-model="addAdminFilter.filterText" placeholder="Type and Search">
            </div>
            <div style="margin-bottom:10px;">
                <div ng-grid="addAdminOptions" style="height:400px !important;"></div>
            </div>
        </div>
    </div>
</div>
