<!-- TABLE LOOKUP -->
<div class="row">
    <accordion class="app-accordion">
        <accordion-group is-open="lookupadmin.searchAccordionOpen">

            <accordion-heading>
                <span class="app-accordion-header">Table Lookup</span>
                <i class="pull-right glyphicon app-accordion-open-icon"
                   ng-class="{'glyphicon-chevron-up': lookupadmin.searchAccordionOpen, 'glyphicon-chevron-down': !lookupadmin.searchAccordionOpen}"></i>
            </accordion-heading>

            <div class="app-header-underline"></div>

            <div class="col-md-4">
                <form>
                    <div class="canopi-input-title">Lookup Type:</div>
                    <div class="form-group">
                        <div class="dropdown">
                            <select ng-model="lookupadmin.lookupType"
                                    ng-options="lookupType.title for lookupType in ::lookupadmin.lookupTypeConfig"
                                    ng-change="lookupadmin.changeLookupType('{{lookupadmin.lookupType.title}}')"
                                    class="dropdown-select form-control"
                                    title="Please select" data-live-search="true">
                            </select>
                        </div>
                    </div>

                </form>
            </div>
            
            <div class="col-md-1 col-sm-1">
                <div class="canopi-input-title">&nbsp;</div>
                <button href='#' class='btn btn-blue btn-wide' ng-click="lookupadmin.search()">Search</button>
            </div>

        </accordion-group>
    </accordion>
</div>

<div cg-busy="[lookupadmin.lookupTypePromise, lookupadmin.changeLookupTypePromise]"></div>

<!-- TABLE LOOKUP RESULTS -->
<div class="row" ng-show="lookupadmin.showResults">
    <div class="panel panel-default app-panel">

        <div class="panel-heading app-panel-heading">
            <div class="app-panel-title">
                <span class="app-panel-header">Lookup Results</span>
            </div>
        </div>

        <div class="panel-body">

            <div class="app-header-underline"></div>

            <div class="col-md-12">

                <div class="app-table-top-menu">
                    
                    <form class="form-inline">
                        <div class="form-group">
                            <span class="app-table-top-menu-title">Lookup Table</span>
                        </div>
                        <div class="form-group">
                            <input class="form-control input-sm" type="text"
                                   id="lookupsearchbox"
                                   ng-model="lookupadmin.lookupFilter"
                                   ng-model-options="{debounce: 300}"
                                   ng-change="lookupadmin.refreshData(lookupadmin.lookupFilter)"
                                   placeholder="Search"/>
                        </div>
                        <div class="form-group app-button-group pull-right">
                            <button class="btn btn-success btn-sm btn-wide"
                                    ng-click="lookupadmin.export()" ng-disabled="lookupadmin.isEmptyTable">
                                <i class="fa fa-file-excel-o"></i> Export
                            </button>
                            <button class="btn btn-orange btn-sm btn-wide"
                                    ng-disabled="(!lookupadmin.isEmptyRowFound() && !lookupadmin.newRow && lookupadmin.gridApi.rowEdit.getDirtyRows().length < 1) || (lookupadmin.undoStack.length === 0 || !lookupadmin.undoStack.length) || lookupadmin.isEmptyTable"
                                    ng-click="lookupadmin.save()">
                                <i class="fa fa-floppy-o"></i> Save
                            </button>
                            <button class="btn btn-gray btn-sm btn-wide"
                                    ng-disabled="(lookupadmin.undoStack.length === 0 || !lookupadmin.undoStack.length) || ruleadmin.isEmptyTable"
                                    ng-click="lookupadmin.undo()">
                                <i class="fa fa-undo"></i> Undo
                            </button>
                            <div class="btn-group btn-group-sm" dropdown>
                                <button type="button" ng-disabled="(lookupadmin.isEditing) || lookupadmin.isEmptyTable" class="btn btn-blue btn-wide dropdown-toggle" dropdown-toggle>
                                    <i class="fa fa-gears"></i> Actions <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">                                    
                                    <li ng-class="{disabled: lookupadmin.selectedRow}" ng-click="lookupadmin.selectedRow || lookupadmin.addItem()"><a href="javascript:void(0)"><i class="fa fa-fw fa-plus-circle"></i> Add</a></li>
                                    <li ng-class="{disabled: !lookupadmin.selectedRow}" ng-click="!lookupadmin.selectedRow || lookupadmin.addItem()"><a href="javascript:void(0)"><i class="fa fa-fw fa-long-arrow-down"></i> Add Item Below</a></li>
                                    <li ng-class="{disabled: !lookupadmin.selectedRow}" ng-click="!lookupadmin.selectedRow || lookupadmin.insertCopyAtLocation()"><a href="javascript:void(0)"><i class="fa fa-fw fa-clipboard"></i> Copy/Add</a></li>
                                    <li class="divider"></li>
                                    <li ng-class="{disabled: !lookupadmin.newRow}" ng-click="!lookupadmin.newRow || lookupadmin.discardItem()"><a href="javascript:void(0)"><i class="fa fa-fw fa-minus-circle"></i> Discard Item</a></li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </div>
                
                <div class="alertMessagesContainer" alert-messages></div>

                <div ng-show="!lookupadmin.isEmptyTable" 
                     class="lookupAdminUIGrid"
                     ui-grid="lookupadmin.gridOptions"
                     ui-grid-exporter
                     ui-grid-auto-resize
                     ui-grid-edit
                     ui-grid-row-edit
                     ui-grid-cellnav
                     ui-grid-resize-columns
                     ui-grid-selection></div>
                
                <div class="panel panel-default" ng-show="lookupadmin.isEmptyTable" style="text-align: center;">
                    <div class="panel-body">
                        <div class="msg" style="margin-top: 20px;">
                            <i style="color: #777" class="fa fa-frown-o fa-3x"></i><span style="font-size: 24px; margin-top: 5px; display: block; color: #777">Functionality Will be Available in Future Release.</span>
                        </div>
                    </div>
                 </div>
                
            </div>
        </div>

    </div> <!-- panel -->
</div> <!-- row -->
