<div class="row">
    <div class="col-md-12 searchFieldLabel">
        <span for="version" class="newton-label">Build Version: &nbsp;&nbsp;
        <span for="versionData">{{serverVersion}}</span></span>
    </div>
</div>

<div class="row" style="padding-top: 10px; padding-bottom: 10px;">
    <div class="col-md-12 searchFieldLabel">
            <span for="installDate" class="newton-label">Install Date: &nbsp;&nbsp;
            <span for="installDateData" class="newton-label">{{serverTimeStamp}}</span></span>
    </div>
</div>

<div class="row">
    <div class="col-md-12 searchFieldLabel">
            <span for="currentDate" class="newton-label">Current Date: &nbsp;&nbsp;
            <span for="currentDateData" class="newton-label">{{currentDate}}</span></span>
    </div>
</div>

