<div class="row">

    <div class="col-md-12">
        <div class="shortcut-buttons">
            <a ui-sref="projectOrderSearch" class="shortcut-btn">
                <span class="shortcut-icon">
                <i class="fa fa-search fa-2x"></i>
                </span>
                <span class="shortcut-text">Project Order</span>
            </a>
            <a ui-sref="technicalOrderSearch" class="shortcut-btn">
                <span class="shortcut-icon">
                <i class="fa fa-search fa-2x"></i>
                </span>
                <span class="shortcut-text">Technical Order</span>
            </a>
            <a href="#" class="shortcut-btn">
                <span class="shortcut-icon">
                <i class="fa fa-search fa-2x"></i>
                </span>
                <span class="shortcut-text">Mobility Order</span>
            </a>
            <a href="#" class="shortcut-btn">
                <span class="shortcut-icon">
                <i class="fa fa-tasks fa-2x"></i>
                </span>
                <span class="shortcut-text">Acquire Next Task</span>
            </a>
            <a href="#" class="shortcut-btn">
                <span class="shortcut-icon">
                <i class="fa fa-bar-chart-o fa-2x"></i>
                </span>
                <span class="shortcut-text">CANOPI Reports</span>
            </a>
            <a href="#" class="shortcut-btn">
                <span class="shortcut-icon">
                <i class="fa fa-globe fa-2x"></i>
                </span>
                <span class="shortcut-text">Equipment Build</span>
            </a>
            <a href="#" class="shortcut-btn">
                <span class="shortcut-icon">
                <i class="fa fa-list-alt fa-2x"></i>
                </span>
                <span class="shortcut-text">UNI Service Details</span>
            </a>
            <a href="#" class="shortcut-btn">
                <span class="shortcut-icon">
                <i class="fa fa-list-alt fa-2x"></i>
                </span>
                <span class="shortcut-text">Device Swap</span>
            </a>
        </div>
    </div> <!-- end col -->

</div> <!-- end row -->

<div class="row canopi-dashboard-top">

    <div class='col-md-6 col-lg-6 canopi-columngutter'>
        <div class='panel panel-default canopi-panel'>
            <div class='panel-heading'>
                <span class='panel-title'>My Tasks</span>
            </div>
            <div class='panel-body'>
                <ul class="canopi-panel-text">
                    <li><a href="javascript:void(0);">Acquire Next Task</a></li>
                    <li><a href="javascript:void(0);">Unassigned - Macthing My Skills</a></li>
                    <li><a href="javascript:void(0);">MyTasks</a></li>
                    <li><a href="javascript:void(0);">Ready Task in Queue</a></li>
                    <li><a href="javascript:void(0);">Planning View</a></li>
                </ul>
            </div>
        </div>
    </div> <!-- end col -->

    <div class='col-md-6 col-lg-6 canopi-columngutter'>
        <div class='panel panel-default canopi-panel'>
            <div class='panel-heading'>
                <span class='panel-title'>Reports</span>
            </div>
            <div class='panel-body'>
                <ul class="canopi-panel-text">
                    <li><a href="javascript:void(0);">Cramer GUI</a></li>
                    <li><a href="javascript:void(0);">CANOPI Reports</a></li>
                    <li><a href="javascript:void(0);">CANOPI Mobility Report</a></li>
                </ul>
            </div>
        </div>
    </div> <!-- end col -->

</div> <!-- end row -->


<div class="row canopi-dashboard-bottom">

    <div class="col-md-12 col-lg-12">

        <div class="row">

            <div class='col-md-4 col-lg-4 canopi-columngutter'>
                <div class='panel panel-default canopi-panel'>
                    <div class='panel-heading'>
                        <span class='panel-title'>Orders</span>
                    </div>
                    <div class='panel-body'>
                        <ul class="canopi-panel-text">
                            <li><strong>Search</strong></li>
                            <li><a ui-sref="projectOrderSearch">Project Orders</a></li>
                            <li><a ui-sref="technicalOrderSearch">Technical Orders</a></li>
                            <li><a ui-sref="relatedOrdersSearch">Related Orders</a></li>
                        </ul>
                        <br/>
                        <ul class="canopi-panel-text">
                            <li><strong>UNI PO</strong></li>
                            <li><a ui-sref="newUniPO"> New</a></li>
                            <li><a ui-sref="disconnectUniPO"> Disconnect</a></li>
                            <li><a ui-sref="changeUniPO"> Change</a></li>
                        </ul>
                        <br/>
                        <ul class="canopi-panel-text">
                            <li><strong>Multi Point EVC PO</strong></li>
                            <li><a ui-sref="newMultiPointEVCPO">New</a></li>
                            <li><a ui-sref="disconnectMultiPointEVCPO">Disconnect</a></li>
                            <li><a ui-sref="changeMultiPointEVCPO">Change</a></li>
                        </ul>
                        <br/>
                        <ul class="canopi-panel-text">
                            <li><strong>UNI ASE BB PO</strong></li>
                            <li><a ui-sref="newUniASEBBPO">New</a></li>
                            <li><a ui-sref="disconnectUniASEBBPO">Disconnect</a></li>
                            <li><a ui-sref="changeUniASEBBPO">Change</a></li>
                        </ul>
                        <br/>
                        <ul class="canopi-panel-text">
                            <li><strong>INL/CNL/LAG PO</strong></li>
                            <li><a ui-sref="newInlCNLLAGPO">New</a></li>
                            <li><a ui-sref="newAafCNLPO">New AAF CNL</a></li>
                            <li><a ui-sref="disconnectInlCNLPO">Diconnect(INL/CNL)</a></li>
                            <li><a ui-sref="disconnectLagPO">Disconnect(LAG)</a></li>
                            <li><a ui-sref="changeLagPO">Change(LAG)</a></li>
                        </ul>
                        <br/>
                        <ul class="canopi-panel-text">
                            <li><strong>P2P EVC Project Order</strong></li>
                            <li><a ui-sref="newP2PEVCPO">New</a></li>
                            <li><a ui-sref="disconnectP2PEVCPO">Disconnect</a></li>
                            <li><a ui-sref="changeP2PEVCPO">Change</a></li>
                        </ul>
                        <br/>
                        <ul class="canopi-panel-text">
                            <li><strong>Device Swap</strong></li>
                            <li><a ui-sref="newDeviceSwap">New</a></li>
                        </ul>
                    </div>
                </div>
            </div> <!-- end col -->

            <div class='col-md-4 col-lg-4 canopi-columngutter'>
                <div class='panel panel-default canopi-panel'>
                    <div class='panel-heading'>
                        <span class='panel-title'>Inventory</span>
                    </div>
                    <div class='panel-body'>
                        <ul class="canopi-panel-text">
                            <li><strong>Search</strong></li>
                            <li><a href="javascript:void(0);"> Services</a></li>
                            <li><a href="javascript:void(0);"> Facilities</a></li>
                        </ul>
                        <br/>

                        <ul class="canopi-panel-text">
                            <li><strong>UNI Services</strong></li>
                            <li><a href="javascript:void(0);"> Details</a></li>
                            <li><a href="javascript:void(0);"> Circuit Layout</a></li>
                            <li><a href="javascript:void(0);"> Related EVC Legs</a></li>
                            <li><a href="javascript:void(0);"> Complete View</a></li>
                        </ul>
                        <br/>

                        <ul class="canopi-panel-text">
                            <li><strong>MPA Shared UNI Services</strong></li>
                            <li><a href="javascript:void(0);"> Details</a></li>
                            <li><a href="javascript:void(0);"> Circuit Layout</a></li>
                            <li><a href="javascript:void(0);"> Related EVC Legs</a></li>
                            <li><a href="javascript:void(0);"> Complete View</a></li>
                        </ul>
                        <br/>
                        <ul class="canopi-panel-text">
                            <li><strong>EVC Services</strong></li>
                            <li><a href="javascript:void(0);">Details</a></li>
                        </ul>
                        <ul class="canopi-panel-text">
                            <li><strong>Facility</strong></li>
                            <li><a href="javascript:void(0);">Details</a></li>
                            <li><a href="javascript:void(0);">Related UNI Services</a></li>
                            <li><a href="javascript:void(0);">Related UNI and EVC Svc.</a></li>
                            <li><a href="javascript:void(0);">INL/CNL Bandwidth Utilization</a></li>
                        </ul>
                        <ul class="canopi-panel-text">
                            <li><strong>Create MPA Shared UNI Services</strong></li>
                            <li><a href="javascript:void(0);">New</a></li>
                            <li><a href="javascript:void(0);">Disconnect</a></li>
                        </ul>
                        <ul class="canopi-panel-text">
                            <li><strong>Manage CFM</strong></li>
                            <li><a href="javascript:void(0);">L4 CFM(EVC CFM)</a></li>
                            <li><a href="javascript:void(0);">L3 CFM</a></li>
                        </ul>
                        <ul class="canopi-panel-text">
                            <li><strong>Service Assurance</strong></li>
                            <li><a href="javascript:void(0);">Customer Impact Summary</a></li>
                        </ul>
                    </div>
                </div>
            </div> <!-- end col -->

            <div class='col-md-4 col-lg-4 canopi-columngutter'>
                <div class='panel panel-default canopi-panel'>
                    <div class='panel-heading'>
                        <span class='panel-title'>Network</span>
                    </div>
                    <div class='panel-body'>

                        <ul class="canopi-panel-text">
                            <li><strong>Equipment Build</strong></li>
                            <li><a href="javascript:void(0);"> Telco</a></li>
                            <li><a href="javascript:void(0);"> Mobility</a></li>
                        </ul>
                        <ul class="canopi-panel-text">
                            <li><strong>Equipment Search</strong></li>
                            <li><a href="javascript:void(0);">Telco</a></li>
                            <li><a href="javascript:void(0);">Mobility</a></li>
                            <li><a href="javascript:void(0);">Network Discovery</a></li>
                            <li><a href="javascript:void(0);">Location Search</a></li>
                            <li><a href="javascript:void(0);">Device Details</a></li>
                            <li><a href="javascript:void(0);">Homing Hubbing Mgt.</a></li>
                            <li><a href="javascript:void(0);">VLAN Management</a></li>
                            <li><a href="javascript:void(0);">LATA Management</a></li>
                        </ul>
                    </div>
                </div>
            </div> <!-- end col -->

        </div> <!-- end row -->

    </div> <!-- end col -->

</div> <!-- end row -->

