<div class="row">

    <div alert-messages> </div>

<!-- Testing Commit 2 -->

	<div class="col-md-12 col-lg-12">

    <!-- BREADCRUMBS - We can setup with Angular $location -->
		<div class="row">
				<div class="panel panel-default">
				  <div class="panel-body">
					    <ol class="breadcrumb">
						  <li><a href="#"><i class="fa fa-home fa-lg"></i>&nbsp;&nbsp;&nbsp;Home</a></li>
						  <li class="active">Project Order Search</li>
						</ol>
					  </div>
				</div>
		</div>
		
		<!-- TABSET -->
		<div class="row">
	
					<!-- TOP ACCORDION - SEARCH -->
					<accordion class="canopi-accordion" close-others="oneAtATime"> 
						<accordion-group is-open="projectordersearch.accordionOpen.search"> 
							<accordion-heading> 
								<span style="color: #ef6f00; font-size: 26px; font-family: Omnes-ATT-II-Light;">Search Criteria</span>
								<i style="color: #ef6f00;" class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': projectordersearch.accordionOpen.search, 'glyphicon-chevron-right': !projectordersearch.accordionOpen.search}"></i>
							</accordion-heading>					
							
							<div style="border-bottom: solid; border-width: 1px; margin-bottom: 20px; color: #9C9C9C;"></div>
							
							<!-- FORMS -->
							<div class="row canopi-inputfields"  style="padding-left: 20px; padding-right: 20px;">
								
									<div class="col-lg-4 col-md-4 col-sm-12">
										<div class="form-group">
											<div class="canopi-input-title">Project Order ID:</div>
											<input type="text" class="form-control" ng-model="projectordersearch.poSearch.projectOrderId" placeholder="">
										</div>				
														
										<div class="form-group">
											<div class="canopi-input-title">External Order ID:</div>
											<input type="text" class="form-control" ng-model="projectordersearch.poSearch.externalOrderId" placeholder="">
										</div>				
														
										<div class="form-group">
											<div class="canopi-input-title">ICSC:</div>
											<input type="text" class="form-control"ng-model="projectordersearch.poSearch.icsc"  placeholder="">
										</div>												
														
										<div class="form-group">
											<div class="canopi-input-title">Service Order Number:</div>
											<input type="text" class="form-control" ng-model="projectordersearch.poSearch.serviceOrderNumber" placeholder="">
										</div>												
																		
										<div class="form-group">
											<div class="canopi-input-title">Current Step:</div>
											<input type="text" class="form-control" ng-model="projectordersearch.poSearch.currentStep" placeholder="">
										</div>												
										
										<div class="form-group">
											<div class="canopi-input-title">Order Type:</div>
											<div class="dropdown">
												<select ng-model="projectordersearch.poSearch.orderType" ng-options="p.name for p in projectordersearch.poOrderTypeList"
												    class="dropdown-select form-control"
													title="Please select" data-live-search="false">
												</select>
											</div>
										</div>
	
										
										<div class="form-group">
											<div class="canopi-input-title">Order Action:</div>
											<div class="dropdown">
                                                                                                <select ng-model="projectordersearch.poSearch.orderAction" ng-options="p.name for p in projectordersearch.poOrderActionList"
												    class="dropdown-select form-control"
													title="Please select" data-live-search="false">
												</select>
											</div>
										</div>
																		
										<div class="form-group">
											<div class="canopi-input-title">Order Status:</div>
											<div class="dropdown">
                                                                                                <select ng-model="projectordersearch.poSearch.orderStatus" ng-options="p.name for p in projectordersearch.poOrderStatusList"
												    class="dropdown-select form-control"
													title="Please select" data-live-search="false">
												</select>
											</div>
										</div>
															
										<div class="form-group">
											<div class="canopi-input-title">Customer Circuit Reference:</div>
											<input type="text" class="form-control" ng-model="projectordersearch.poSearch.customerCircuitReference" placeholder="">
										</div>												
										
									</div>				
									<div class="col-lg-4 col-md-4 col-sm-12">
										<div class="form-group">
											<div class="canopi-input-title">Service ID:</div>
											<input type="text" class="form-control" ng-model="projectordersearch.poSearch.serviceId" placeholder="">
										</div>
										
										<div class="form-group">
											<div class="canopi-input-title">USO#:</div>
											<input type="text" class="form-control" ng-model="projectordersearch.poSearch.usoNumber" placeholder="">
										</div>
										
										<div class="form-group">
											<div class="canopi-input-title">Customer Name:</div>
                                                                                    <div class="input-group">
                                                                                        <input type="text" class="form-control" ng-model="projectordersearch.poSearch.customerName" placeholder="Type and Search">
                                                                                          <span class="input-group-btn">
                                                                                            <button class="btn btn-default canopi-btn-sharp-corners" type="button"><i class="fa fa-search"></i></button>
                                                                                          </span>
                                                                                    </div><!-- /input-group -->
                                                                                </div>

                                                                                <div class="form-group">
                                                                                        <div class="canopi-input-title">Customer Code:</div>
                                                                                        <div class="input-group">
                                                                                            <input type="text" class="form-control" ng-model="projectordersearch.poSearch.customerCode" placeholder="Type and Search">
                                                                                              <span class="input-group-btn">
                                                                                                <button class="btn btn-default canopi-btn-sharp-corners" type="button"><i class="fa fa-search"></i></button>
                                                                                              </span>
                                                                                        </div><!-- /input-group -->
                                                                                </div>				

                                                                                <div class="form-group">
                                                                                        <div class="canopi-input-title"> SVID:</div>
                                                                                        <div class="input-group">
                                                                                            <input type="text" class="form-control" ng-model="projectordersearch.poSearch.svid" placeholder="Type and Search">
                                                                                              <span class="input-group-btn">
                                                                                                <button class="btn btn-default canopi-btn-sharp-corners" type="button"><i class="fa fa-search"></i></button>
                                                                                              </span>
                                                                                        </div><!-- /input-group -->
                                                                                </div>				

                                                                                <div class="form-group">
                                                                                        <div class="canopi-input-title">BAN:</div>
                                                                                        <div class="input-group">
                                                                                            <input type="text" class="form-control" ng-model="projectordersearch.poSearch.ban" placeholder="Type and Search">
                                                                                              <span class="input-group-btn">
                                                                                                <button class="btn btn-default canopi-btn-sharp-corners" type="button"><i class="fa fa-search"></i></button>
                                                                                              </span>
                                                                                        </div><!-- /input-group -->
                                                                                </div>				

                                                                                <div class="form-group">
                                                                                        <div class="canopi-input-title">ACNA:</div>
                                                                                        <div class="input-group">
                                                                                            <input type="text" class="form-control" ng-model="projectordersearch.poSearch.acna" placeholder="Type and Search">
                                                                                              <span class="input-group-btn">
                                                                                                <button class="btn btn-default canopi-btn-sharp-corners" type="button"><i class="fa fa-search"></i></button>
                                                                                              </span>
                                                                                        </div><!-- /input-group -->
										</div>				
										
										<div class="form-group">
											<div class="canopi-input-title">LAG ID:</div>
											<input type="text" class="form-control" ng-model="projectordersearch.poSearch.lagId" placeholder="">
										</div>				
										
										<div class="form-group">
											<div class="canopi-input-title">NTE CLLI:</div>
											<input type="text" class="form-control" ng-model="projectordersearch.poSearch.nteClli" placeholder="">
										</div>				
										
									</div>							
									<div class="col-lg-4 col-md-4 col-sm-12">
                                                                                <!--Datepickers http://stackoverflow.com/questions/28172387/angularjs-simple-datepicker-using-controller-as-not-scope-->                                       
                                                                                <div class="row">
                                                                                        <div class="col-md-6 col-sm-6 col-xs-6">
                                                                                            <div class="form-group">
                                                                                                <div class="canopi-input-title">Due Date Start:</div>
                                                                                                <p class="input-group">
                                                                                                    <input type="text" 
                                                                                                           class="form-control"
                                                                                                           datepicker-popup="{{projectordersearch.format}}" 
                                                                                                           ng-model="projectordersearch.poSearch.dueStartDate"
                                                                                                           is-open="projectordersearch.datepickers.dueStartDateDatepicker" min-date="minDate"
                                                                                                           max-date="'2015-12-25'"
                                                                                                           datepicker-options="dateOptions"
                                                                                                           date-disabled="disabled(date, mode)"
                                                                                                           ng-required="true" 
                                                                                                           close-text="Close"/>
                                                                                                  <span class="input-group-btn">
                                                                                                    <button type="button" class="btn btn-default canopi-btn-sharp-corners" ng-click="projectordersearch.open($event, 'dueStartDateDatepicker')"><i
                                                                                                            class="fa fa-calendar"></i></button>
                                                                                                  </span>
                                                                                                </p>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="col-md-6 col-sm-6 col-xs-6">
                                                                                            <div class="form-group">
                                                                                                <div class="canopi-input-title">Due Date End:</div>
                                                                                                <p class="input-group">
                                                                                                    <input type="text" 
                                                                                                           class="form-control"
                                                                                                           datepicker-popup="{{projectordersearch.format}}" 
                                                                                                           ng-model="projectordersearch.poSearch.dueEndDate"
                                                                                                           is-open="projectordersearch.datepickers.dueEndDateDatepicker" 
                                                                                                           min-date="minDate"
                                                                                                           max-date="'2015-12-25'"
                                                                                                           datepicker-options="dateOptions"
                                                                                                           date-disabled="disabled(date, mode)"
                                                                                                           ng-required="true" 
                                                                                                           close-text="Close"/>
                                                                                                  <span class="input-group-btn">
                                                                                                    <button type="button" class="btn btn-default canopi-btn-sharp-corners" ng-click="projectordersearch.open($event, 'dueEndDateDatepicker')"><i
                                                                                                            class="fa fa-calendar"></i></button>
                                                                                                  </span>
                                                                                                </p>
                                                                                            </div>
                                                                                        </div>
                                                                                </div>

                                                                                <div class="row">
                                                                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                                                                            <div class="form-group">
                                                                                                <div class="canopi-input-title">Created on Start:</div>
                                                                                                <p class="input-group">
                                                                                                    <input type="text" class="form-control"
                                                                                                           datepicker-popup="{{projectordersearch.format}}" 
                                                                                                           ng-model="projectordersearch.poSearch.createdStartDate"
                                                                                                           is-open="projectordersearch.datepickers.createdStartDateDatepicker" 
                                                                                                           min-date="minDate"
                                                                                                           max-date="'2015-12-25'"
                                                                                                           datepicker-options="dateOptions"
                                                                                                           date-disabled="disabled(date, mode)"
                                                                                                           ng-required="true" 
                                                                                                           close-text="Close"/>
                                                                                                  <span class="input-group-btn">
                                                                                                    <button type="button" class="btn btn-default canopi-btn-sharp-corners" ng-click="projectordersearch.open($event, 'createdStartDateDatepicker')"><i
                                                                                                            class="fa fa-calendar"></i></button>
                                                                                                  </span>
                                                                                                </p>
                                                                                            </div>
                                                                                    </div>
                                                                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                                                                            <div class="form-group">
                                                                                                <div class="canopi-input-title">Created on End:</div>
                                                                                                <p class="input-group">
                                                                                                    <input type="text" class="form-control"
                                                                                                           datepicker-popup="{{projectordersearch.format}}" ng-model="projectordersearch.poSearch.createdEndDate"
                                                                                                           is-open="projectordersearch.datepickers.createdEndDateDatepicker" min-date="minDate"
                                                                                                           max-date="'2015-12-25'"
                                                                                                           datepicker-options="dateOptions"
                                                                                                           date-disabled="disabled(date, mode)"
                                                                                                           ng-required="true" close-text="Close"/>
                                                                                                  <span class="input-group-btn">
                                                                                                    <button type="button" class="btn btn-default canopi-btn-sharp-corners" ng-click="projectordersearch.open($event, 'createdEndDateDatepicker')"><i
                                                                                                            class="fa fa-calendar"></i></button>
                                                                                                  </span>
                                                                                                </p>
                                                                                            </div>
                                                                                    </div>
                                                                                </div>

                                                                                <div class="row">
                                                                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                                                                        <div class="form-group">
                                                                                            <div class="canopi-input-title">Last Updated Start:</div>
                                                                                            <p class="input-group">
                                                                                                <input type="text" class="form-control"
                                                                                                       datepicker-popup="{{projectordersearch.format}}" ng-model="projectordersearch.poSearch.lastUpdatedStartDate"
                                                                                                       is-open="projectordersearch.datepickers.lastUpdatedStartDateDatepicker" min-date="minDate"
                                                                                                       max-date="'2015-12-25'"
                                                                                                       datepicker-options="dateOptions"
                                                                                                       date-disabled="disabled(date, mode)"
                                                                                                       ng-required="true" close-text="Close"/>
                                                                                                  <span class="input-group-btn">
                                                                                                    <button type="button" class="btn btn-default canopi-btn-sharp-corners" ng-click="projectordersearch.open($event, 'lastUpdatedStartDateDatepicker')"><i
                                                                                                            class="fa fa-calendar"></i></button>
                                                                                                  </span>
                                                                                            </p>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                                                                        <div class="form-group">
                                                                                            <div class="canopi-input-title">Last Updated End:</div>
                                                                                            <p class="input-group">
                                                                                                <input type="text" class="form-control"
                                                                                                       datepicker-popup="{{projectordersearch.format}}" ng-model="projectordersearch.poSearch.lastUpdatedEndDate"
                                                                                                       is-open="projectordersearch.datepickers.lastUpdatedEndDateDatepicker" min-date="minDate"
                                                                                                       max-date="'2015-12-25'"
                                                                                                       datepicker-options="dateOptions"
                                                                                                       date-disabled="disabled(date, mode)"
                                                                                                       ng-required="true" close-text="Close"/>
                                                                                                  <span class="input-group-btn">
                                                                                                    <button type="button" class="btn btn-default canopi-btn-sharp-corners" ng-click="projectordersearch.open($event, 'lastUpdatedEndDateDatepicker')"><i
                                                                                                            class="fa fa-calendar"></i></button>
                                                                                                  </span>
                                                                                            </p>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <!--Date pickers end-->

                                                                                <div class="form-group">
                                                                                                                                <div class="canopi-input-title">Created By:</div>
                                                                                    <div class="input-group">
                                                                                        <input type="text" class="form-control" ng-model="projectordersearch.poSearch.createdBy" placeholder="Type and Search">
                                                                                          <span class="input-group-btn">
                                                                                            <button class="btn btn-default canopi-btn-sharp-corners" type="button"><i class="fa fa-search"></i></button>
                                                                                          </span>
                                                                                    </div><!-- /input-group -->
                                                                                                                        </div>

                                                                                                                        <div class="form-group">
                                                                                                                                <div class="canopi-input-title">Last Updated By:</div>
                                                                                    <div class="input-group">
                                                                                        <input type="text" class="form-control" ng-model="projectordersearch.poSearch.lastUpdatedBy" placeholder="Type and Search">
                                                                                          <span class="input-group-btn">
                                                                                            <button class="btn btn-default canopi-btn-sharp-corners" type="button"><i class="fa fa-search"></i></button>
                                                                                          </span>
                                                                                    </div><!-- /input-group -->
										</div>
										
										<div class="form-group">
											<div class="canopi-input-title">Telco Circuit ID:</div>
											<input type="text" class="form-control" ng-model="projectordersearch.poSearch.telcoCircuitId" placeholder="">
										</div>
										
										<div class="form-group">
											<div class="canopi-input-title">Decomp.Mode:</div>
											<div class="dropdown">
												<select ng-model="projectordersearch.poSearch.decompMode" ng-options="d.name for d in projectordersearch.decompModeList"
												    class="dropdown-select form-control"
													title="Please select" data-live-search="false">
												</select>
											</div>
										</div>
										
										<div class="form-group">
											<div class="canopi-input-title">RTP Indicator:</div>
											<div class="dropdown">
												<select ng-model="projectordersearch.poSearch.rtpIndicator" ng-options="p.name for p in projectordersearch.poRTPIndicatorList"
												    class="dropdown-select form-control"
													title="Please select" data-live-search="false">
												</select>
											</div>
										</div>
										
										<div class="form-group">
											<div class="canopi-input-title">Complex MACD:</div>
											<div class="dropdown">
												<select ng-model="projectordersearch.poSearch.complexMacd" ng-options="p.name for p in projectordersearch.poComplexMACDList"
												    class="dropdown-select form-control"
													title="Please select" data-live-search="false">
												</select>
											</div>
										</div>
														
									</div>				
								
							</div> <!-- End row forms -->				

                            <!-- SEARCH AND CLEAR BUTTONS -->
                            <div class="row" style="padding-left: 20px; padding-right: 20px;">
								<div class="col-md-12">
									<button class="btn canopi-btn-orange" ng-disabled="projectordersearch.picklistNotReady" ng-click="projectordersearch.poSearch()"><span>Search</span></button>
									<button class="btn canopi-btn-gray" ng-disabled="projectordersearch.picklistNotReady" ng-click="projectordersearch.clear()"><span>Clear</span></button>
								</div>
							</div>
									
											
						</accordion-group> 
					</accordion> <!-- End Top Accordion -->


					<!-- BOTTOM ACCORDION - DATATABLE -->
					<accordion class="canopi-accordion" close-others="oneAtATime"> 
						<accordion-group is-open="projectordersearch.accordionOpen.table">					
							<accordion-heading> 
								<span style="color: #ef6f00; font-size: 26px; font-family: Omnes-ATT-II-Light;">Project Orders Table</span>
								<i  style="color: #ef6f00;" class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': projectordersearch.accordionOpen.table, 'glyphicon-chevron-right': !projectordersearch.accordionOpen.table}"></i>
							</accordion-heading>				
							
							<div style="border-bottom: solid; border-width: 1px; margin-bottom: 20px; color: #9C9C9C;"></div>

							<!-- Icon placehoder for table results -->
							<div style="height: 80px; margin-top: 40px; text-align: center;"cg-busy="{promise:projectordersearch.projectOrderTablePromise, message:'Loading Your Data', templateUrl:'lib/angular-busy/custom-templates/initialLoading.html'}"  ng-if="!projectordersearch.displayDataTables">
								
							</div>
							
                            <!-- DATATABLE -->
							<div cg-busy="{promise:projectordersearch.projectOrderTablePromise, message:'Loading Your Data', templateUrl:'lib/angular-busy/custom-templates/mycustomtemplate.html'}" class="table-responsive col-lg-12 no-padding" style="padding-top: 10px;" ng-if="projectordersearch.displayDataTables">						
								<table class="table table-striped table-hover data-table"
									   id="poResultsTable" search-result-table add-pagination="false"
									table-data="projectordersearch.tableData" total-records="projectordersearch.tableRecords" current-page="projectordersearch.transclude.currentPage" current-records="projectordersearch.currenRecordsReturned"
									event-handler="projectordersearch.gridEventHandler(eventId, data)">
								</table>
								<pagination ng-show="projectordersearch.enablePagination" style="float: right; margin-top: -30px;" total-items="projectordersearch.totalItems" ng-model="projectordersearch.transclude.currentPage" ng-change="projectordersearch.poSearch()"  max-size="projectordersearch.maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages"></pagination>
							</div>
							
							
						</accordion-group> 
					</accordion> <!-- End Bottom Accordion -->

        </div> <!-- End of row -->
	</div> <!-- End of column -->
</div> <!-- End of row -->


