<div class="row">
	<div class="col-md-12 col-lg-12">
	    <!-- BREADCRUMBS - We can setup with Angular $location -->
		<div class="row">
			<div class="panel panel-default">
			  <div class="panel-body">
				    <ol class="breadcrumb">
					  <li><a href="#"><i class="fa fa-home fa-lg"></i>&nbsp;&nbsp;&nbsp;Home</a></li>				
					  <li class="active">Disconnect UNI ASE BB PO</li>
					</ol>
				  </div>
			</div>
		</div>
		<!-- TABSET -->
		<div class="row">
			<div class="panel panel-default">
				<div class="panel-body">
					<span style="color: #ef6f00; font-size: 26px; font-family: Omnes-ATT-II-Light;">Disconnect Project Order</span>

					<div style="border-bottom: solid; border-width: 1px; margin-bottom: 20px; color: #9C9C9C;"></div>
					<!-- FORMS -->
					<div class="row canopi-inputfields"  style="padding-left: 20px; padding-right: 20px;">
						<div class="col-lg-4 col-md-4 col-sm-4">
							<div class="form-group ">
								<div class="canopi-input-title">Customer Code:</div>
								<input type="text" class="form-control" placeholder="" disabled>
							</div>
							<div class="form-group">
								<div class="canopi-input-title">Customer Name:</div>
                                 <div class="input-group">
                                     <input type="text" class="form-control" placeholder="Type and Search">
                                       <span class="input-group-btn">
                                         <button class="btn btn-default canopi-btn-sharp-corners" type="button"><i class="fa fa-search"></i></button>
                                       </span>
                                 </div><!-- /input-group -->
							</div>
							<div class="form-group">
								<div class="canopi-input-title">UNI Circuit ID:</div>
                                 <div class="input-group">
                                     <input type="text" class="form-control" placeholder="Type and Search">
                                       <span class="input-group-btn">
                                         <button class="btn btn-default canopi-btn-sharp-corners" type="button"><i class="fa fa-search"></i></button>
                                       </span>
                                 </div><!-- /input-group -->
							</div>
							<div class="form-group">
								<div class="canopi-input-title">Mgmt VLAN ID:</div>
                                 <div class="input-group">
                                     <input type="text" class="form-control" placeholder="Type and Search">
                                       <span class="input-group-btn">
                                         <button class="btn btn-default canopi-btn-sharp-corners" type="button"><i class="fa fa-search"></i></button>
                                       </span>
                                 </div><!-- /input-group -->
							</div>
							<div class="form-group">
								<div class="canopi-input-title">Ethernet Switch ID:</div>
								<input type="text" class="form-control" placeholder="" disabled>
							</div>
							<div class="form-group">
								<div class="canopi-input-title">Ethernet Router ID:</div>
								<input type="text" class="form-control" placeholder="" disabled>
							</div>
							<div class="form-group required">
								<div class="canopi-input-title">Access ID:</div>
								<input type="text" class="form-control" placeholder="" disabled>
							</div>
						</div> <!-- end col line 28 -->
						<div class="col-lg-4 col-md-4 col-sm-4">
							<div class="form-group">
								<div class="canopi-input-title">SVID:</div>
								<input type="text" class="form-control" placeholder="" disabled>
							</div>
							<div class="form-group">
								<div class="canopi-input-title">BAN:</div>
								<input type="text" class="form-control" placeholder="" disabled>
							</div>
							<div class="form-group">
								<div class="canopi-input-title">U-Verse BAN:</div>
								<input type="text" class="form-control" placeholder="" disabled>
							</div>
							<div class="form-group">
								<div class="canopi-input-title">ACNA:</div>
								<input type="text" class="form-control" placeholder="" disabled>
							</div>
							<div class="form-group">
								<div class="canopi-input-title">CCNA:</div>
								<input type="text" class="form-control" placeholder="" disabled>
							</div>
							<div class="form-group">
								<div class="canopi-input-title">IPAG CLLI:</div>
								<input type="text" class="form-control" placeholder="" disabled>
							</div>
							<div class="form-group">
								<div class="canopi-input-title">SPEC Code:</div>
								<input type="text" class="form-control" placeholder="" disabled>
							</div>
						</div> <!-- end col -->
						<div class="col-lg-4 col-md-4 col-sm-4">
							<div class="form-group canopi-right-inner-addon">
								<div class="canopi-input-title">Desired Due Date:</div>
								<i class="fa fa-calendar"></i>
								<input bootstrap-datepicker type="text" class="form-control" placeholder="" disabled>
							</div>
							<div class="form-group">
								<div class="canopi-input-title">WFA/C Order Number:</div>
								<input type="text" class="form-control" placeholder="" disabled>
							</div>
							<div class="form-group">
								<div class="canopi-input-title">Originator Contact ID:</div>
								<input type="text" class="form-control" placeholder="" disabled>
							</div>
							<div class="form-group">
								<div class="canopi-input-title">Originator Contact Phone:</div>
								<input type="text" class="form-control" placeholder="" disabled>
							</div>
							<div class="form-group">
								<div class="canopi-input-title">Local Contact Name:</div>
								<input type="text" class="form-control" placeholder="" disabled>
							</div>
							<div class="form-group">
								<div class="canopi-input-title">Local Contact Phone:</div>
								<input type="text" class="form-control" placeholder="" disabled>
							</div>
							<div class="form-group">
								<div class="canopi-input-title">Reserve Project:</div>
								<input type="text" class="form-control" placeholder="" disabled>
							</div>
						</div><!-- end col -->
						
					</div> <!-- end form row -->
					<!-- TABSET -->
					<div class="row">
						<tabset class="canopi-tabset" justified="false"> 
							<tab heading="Critical Dates">
								<div class="row">
									<div class="col-lg-4 col-md-4 col-sm-4">
										<div class="form-group canopi-right-inner-addon">
											<div class="canopi-input-title">APP:</div>
											<i class="fa fa-calendar"></i>
											<input bootstrap-datepicker type="text" class="form-control" placeholder="" disabled>
										</div>
										<div class="form-group canopi-right-inner-addon">
											<div class="canopi-input-title">SID:</div>
											<i class="fa fa-calendar"></i>
											<input bootstrap-datepicker type="text" class="form-control" placeholder="" disabled>
										</div>
										<div class="form-group canopi-right-inner-addon">
											<div class="canopi-input-title">LAM:</div>
											<i class="fa fa-calendar"></i>
											<input bootstrap-datepicker type="text" class="form-control" placeholder="" disabled>
										</div>
										<div class="form-group canopi-right-inner-addon">
											<div class="canopi-input-title">EIRD:</div>
											<i class="fa fa-calendar"></i>
											<input bootstrap-datepicker type="text" class="form-control" placeholder="" disabled>
										</div>
										<div class="form-group canopi-right-inner-addon">
											<div class="canopi-input-title">DLRD:</div>
											<i class="fa fa-calendar"></i>
											<input bootstrap-datepicker type="text" class="form-control" placeholder="" disabled>
										</div>
										<div class="form-group canopi-right-inner-addon">
											<div class="canopi-input-title">CDLRD:</div>
											<i class="fa fa-calendar"></i>
											<input bootstrap-datepicker type="text" class="form-control" placeholder="" disabled>
										</div>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-4">
										<div class="form-group canopi-right-inner-addon">
											<div class="canopi-input-title">RID:</div>
											<i class="fa fa-calendar"></i>
											<input bootstrap-datepicker type="text" class="form-control" placeholder="" disabled>
										</div>
										<div class="form-group canopi-right-inner-addon">
											<div class="canopi-input-title">DVA:</div>
											<i class="fa fa-calendar"></i>
											<input bootstrap-datepicker type="text" class="form-control" placeholder="" disabled>
										</div>
										<div class="form-group canopi-right-inner-addon">
											<div class="canopi-input-title">WOT:</div>
											<i class="fa fa-calendar"></i>
											<input bootstrap-datepicker type="text" class="form-control" placeholder="" disabled>
										</div>
										<div class="form-group canopi-right-inner-addon">
											<div class="canopi-input-title">FCD/ZFCD:</div>
											<i class="fa fa-calendar"></i>
											<input bootstrap-datepicker type="text" class="form-control" placeholder="" disabled>
										</div>
										<div class="form-group canopi-right-inner-addon">
											<div class="canopi-input-title">PTD:</div>
											<i class="fa fa-calendar"></i>
											<input bootstrap-datepicker type="text" class="form-control" placeholder="" disabled>
										</div>
										<div class="form-group canopi-right-inner-addon">
											<div class="canopi-input-title">Committed Due Date:</div>
											<i class="fa fa-calendar"></i>
											<input bootstrap-datepicker type="text" class="form-control" placeholder="" disabled>
										</div>
									</div>
								</div>
							</tab>
							<tab heading="External Order Info">
								<div class="row">
									<div class="col-lg-4 col-md-4 col-sm-4">
										<div class="form-group">
											<div class="canopi-input-title">ASR Number:</div>
											<input type="text" class="form-control" placeholder="" disabled>
										</div>
										<div class="form-group">
											<div class="canopi-input-title">ASR/PON Version:</div>
											<input type="text" class="form-control" placeholder=""disabled>
										</div>
										<div class="form-group">
											<div class="canopi-input-title">Req Type:</div>
											<input type="text" class="form-control" placeholder="" disabled>
										</div>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-4">
										<div class="form-group">
											<div class="canopi-input-title">ASR Item ID:</div>
											<input type="text" class="form-control" placeholder="" disabled>
										</div>
										<div class="form-group">
											<div class="canopi-input-title">ASR SUPP Type:</div>
											<input type="text" class="form-control" placeholder="" disabled>
										</div>
										<div class="form-group">
											<div class="canopi-input-title">ICSC:</div>
											<input type="text" class="form-control" placeholder="" disabled>
										</div>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-4">
										<div class="form-group">
											<div class="canopi-input-title">ASR Type:</div>
											<input type="text" class="form-control" placeholder="" disabled>
										</div>
										<div class="form-group">
											<div class="canopi-input-title">ASR PON:</div>
											<input type="text" class="form-control" placeholder="" disabled>
										</div>
										<div class="form-group">
											<div class="canopi-input-title">ASR Activity:</div>
											<input type="text" class="form-control" placeholder="" disabled>
										</div>
									</div>
								</div>
							</tab> <!-- End external order info -->
						</tabset>
					</div>				
					<!-- SEARCH AND CLEAR BUTTONS -->
		        	<div class="row" style="padding-left: 20px; padding-right: 20px;">
						<div class="col-md-12">
							<button href='javascript:void(0);' class="btn canopi-btn-blue"><span>Submit</span></button>
							<button href='javascript:void(0);' class="btn canopi-btn-gray"><span>Clear</span></button>
						</div>
					</div>
				</div><!-- end panel body -->
			</div> <!-- end panel -->
		</div> <!-- end tabset row -->
	</div> <!-- end col -->
</div> <!-- End row from line 1 -->