<div class="row">
	<div class="col-md-12 col-lg-12">

    <!-- BREADCRUMBS - We can setup with Angular $location -->
		<div class="row">
				<div class="panel panel-default">
				  <div class="panel-body">
					    <ol class="breadcrumb">
						  <li><a href="#"><i class="fa fa-home fa-lg"></i>&nbsp;&nbsp;&nbsp;Home</a></li>
						  <li class="active">New UNI ASE BB PO</li>
						</ol>
					  </div>
				</div>
		</div>
		
		
		<div class="row">
			<div class="panel panel-default">
				<div class="panel-body">
					<span style="color: #ef6f00; font-size: 26px; font-family: Omnes-ATT-II-Light;">New Project Order</span>
					<div style="border-bottom: solid; border-width: 1px; margin-bottom: 20px; color: #9C9C9C;"></div>
					
					<!-- FORMS -->
					<div class="row canopi-inputfields"  style="padding-left: 20px; padding-right: 20px;">
						<div class="col-lg-4 col-md-4 col-sm-4">											
							<div class="form-group">
								<div class="canopi-input-title">Customer Code:</div>
                                 <div class="input-group">
                                     <input type="text" class="form-control" placeholder="Type and Search">
                                       <span class="input-group-btn">
                                         <button class="btn btn-default canopi-btn-sharp-corners" type="button"><i class="fa fa-search"></i></button>
                                       </span>
                                 </div><!-- /input-group -->
							</div>
							<div class="form-group">
								<div class="canopi-input-title">Customer Name:</div>
                                 <div class="input-group">
                                     <input type="text" class="form-control" placeholder="Type and Search">
                                       <span class="input-group-btn">
                                         <button class="btn btn-default canopi-btn-sharp-corners" type="button"><i class="fa fa-search"></i></button>
                                       </span>
                                 </div><!-- /input-group -->
							</div>
							<div class="form-group">
								<div class="canopi-input-title">Market Indicator:</div>
								<div class="dropdown">
									<select class="dropdown-select form-control ng-pristine ng-valid"
										title="Please select" data-live-search="false">
										<option></option>
										<option></option>
										<option></option>
										<option></option>
										<option></option>
										<option></option>
									</select>
								</div>
							</div>
							<div class="form-group required">
								<div class="canopi-input-title">Product Type:</div>
								<div class="dropdown">
									<select class="dropdown-select form-control ng-pristine ng-valid"
										title="Please select" data-live-search="false">
										<option></option>
										<option></option>
										<option></option>
										<option></option>
										<option></option>
										<option></option>
									</select>
								</div>
							</div>
							<div class="form-group required">
								<div class="canopi-input-title">UNI Circuit ID:</div>
								<input type="text" class="form-control" placeholder="">
							</div>
							<div class="form-group required">
								<div class="canopi-input-title">Port Name:</div>
								<input type="text" class="form-control" placeholder="">
							</div>
							<div class="form-group">
								<div class="canopi-input-title">PIU:</div>
								<div class="dropdown">
									<select class="dropdown-select form-control ng-pristine ng-valid"
										title="Please select" data-live-search="false">
										<option></option>
										<option></option>
										<option></option>
										<option></option>
										<option></option>
										<option></option>
									</select>
								</div>
							</div>
							<div class="form-group required">
								<div class="canopi-input-title">MAC Address Limit:</div>
								<div class="dropdown">
									<select class="dropdown-select form-control ng-pristine ng-valid"
										title="Please select" data-live-search="false">
										<option></option>
										<option></option>
										<option></option>
										<option></option>
										<option></option>
										<option></option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<div class="canopi-input-title">NPANXX:</div>
								<input type="text" class="form-control" placeholder="">
							</div>
							<div class="form-group required">
								<div class="canopi-input-title">LATA:</div>
								<input type="text" class="form-control" placeholder="">
							</div>
							<div class="form-group">
								<div class="canopi-input-title">DRC:</div>
								<input type="text" class="form-control" placeholder="">
							</div>
							<div class="form-group">
								<div class="canopi-input-title">EMC Indicator:</div>
								<div class="dropdown">
									<select class="dropdown-select form-control ng-pristine ng-valid"
										title="Please select" data-live-search="false">
										<option></option>
										<option></option>
										<option></option>
										<option></option>
										<option></option>
										<option></option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<div class="canopi-input-title">Reserve Project:</div>
								<input type="text" class="form-control" placeholder="">
							</div>
							<div class="form-group">
								<div class="canopi-input-title">Customer Circuit Reference:</div>
								<input type="text" class="form-control" placeholder="">
							</div>
							<div class="form-group">
								<div class="canopi-input-title">TSP Authorization Code:</div>
								<input type="text" class="form-control" placeholder="">
							</div>
							<div class="form-group">
								<div class="canopi-input-title">Exhaust Code:</div>
								<input type="text" class="form-control" placeholder="" disabled >
							</div>
							<div class="form-group">
								<div class="canopi-input-title">Consumption Bandwidth:</div>
								<input type="text" class="form-control" placeholder="" disabled>
							</div>
						</div><!-- end col -->
						<div class="col-lg-4 col-md-4 col-sm-4">
							<div class="form-group">
								<div class="canopi-input-title">SVID:</div>
                                 <div class="input-group">
                                     <input type="text" class="form-control" placeholder="Type and Search">
                                       <span class="input-group-btn">
                                         <button class="btn btn-default canopi-btn-sharp-corners" type="button"><i class="fa fa-search"></i></button>
                                       </span>
                                 </div><!-- /input-group -->
							</div>
							<div class="form-group">
								<div class="canopi-input-title">BAN:</div>
                                 <div class="input-group">
                                     <input type="text" class="form-control" placeholder="Type and Search">
                                       <span class="input-group-btn">
                                         <button class="btn btn-default canopi-btn-sharp-corners" type="button"><i class="fa fa-search"></i></button>
                                       </span>
                                 </div><!-- /input-group -->
							</div>
							<div class="form-group">
								<div class="canopi-input-title">U-Verse BAN:</div>
								<input type="text" class="form-control" placeholder="" disabled>
							</div>
							<div class="form-group">
								<div class="canopi-input-title">ACNA:</div>
                                 <div class="input-group">
                                     <input type="text" class="form-control" placeholder="Type and Search">
                                       <span class="input-group-btn">
                                         <button class="btn btn-default canopi-btn-sharp-corners" type="button"><i class="fa fa-search"></i></button>
                                       </span>
                                 </div><!-- /input-group -->
							</div>
							<div class="form-group">
								<div class="canopi-input-title">ASE BB Modem Type:</div>
								<input type="text" class="form-control" placeholder="" disabled>
							</div>
							<div class="form-group">
								<div class="canopi-input-title">Ethernet Switch ID:</div>
								<input type="text" class="form-control" placeholder="" disabled>
							</div>
							<div class="form-group">
								<div class="canopi-input-title">Ethernet Router ID:</div>
								<input type="text" class="form-control" placeholder="" disabled>
							</div>
							<div class="form-group required">
								<div class="canopi-input-title">Port Type:</div>
								<div class="dropdown">
									<select class="dropdown-select form-control ng-pristine ng-valid"
										title="Please select" data-live-search="false">
										<option></option>
										<option></option>
										<option></option>
										<option></option>
										<option></option>
										<option></option>
									</select>
								</div>
							</div>
							<div class="form-group required">
								<div class="canopi-input-title">Service Profile:</div>
								<div class="dropdown">
									<select class="dropdown-select form-control ng-pristine ng-valid"
										title="Please select" data-live-search="false">
										<option></option>
										<option></option>
										<option></option>
										<option></option>
										<option></option>
										<option></option>
									</select>
								</div>
							</div>
							<div class="form-group required">
								<div class="canopi-input-title">Port Config:</div>
								<div class="dropdown">
									<select class="dropdown-select form-control ng-pristine ng-valid"
										title="Please select" data-live-search="false">
										<option></option>
										<option></option>
										<option></option>
										<option></option>
										<option></option>
										<option></option>
									</select>
								</div>
							</div>
							<div class="form-group required">
								<div class="canopi-input-title">Port CIR:</div>
								<input type="text" class="form-control" placeholder="" disabled>
							</div>
							<div class="form-group">
								<div class="canopi-input-title">NC Code:</div>
								<input type="text" class="form-control" placeholder="" disabled>
							</div>
							<div class="form-group required">
								<div class="canopi-input-title">NCI Code:</div>
								<input type="text" class="form-control" placeholder="" disabled>
							</div>
							<div class="form-group">
								<div class="canopi-input-title">Port Handoff:</div>
								<input type="text" class="form-control" placeholder="" disabled>
							</div>
							<div class="form-group canopi-right-inner-addon">
								<div class="canopi-input-title">Sec. NCI Code:</div>
								<input type="text" class="form-control" placeholder="">
							</div>
							<div class="form-group required">
								<div class="canopi-input-title">SPEC Code:</div>
								<input type="text" class="form-control" placeholder="" disabled>
							</div>
							<div class="form-group">
								<div class="canopi-input-title">Bandwidth Unit of Measure:</div>
								<input type="text" class="form-control" placeholder="" disabled>
							</div>
							<div class="form-group">
								<div class="canopi-input-title">Site ID:</div>
								<input type="text" class="form-control" placeholder="" disabled>
							</div>										
						</div><!-- end col -->
						<div class="col-lg-4 col-md-4 col-sm-4">
							<div class="form-group">
                                <div class="canopi-input-title">Desired Due Date:</div>
                                <p class="input-group">
                                    <input type="text" class="form-control"
                                           datepicker-popup="{{format}}" ng-model="newUNIASEBBPO.desiredDueDate"
                                           is-open="datepickers.desiredDatepicker" min-date="minDate"
                                           max-date="'2015-12-25'"
                                           datepicker-options="dateOptions"
                                           date-disabled="disabled(date, mode)"
                                           ng-required="true" close-text="Close"/>
                                      <span class="input-group-btn">
                                        <button type="button" class="btn btn-default canopi-btn-sharp-corners" ng-click="open($event, 'desiredDatepicker')"><i
                                                class="fa fa-calendar"></i></button>
                                      </span>
                                </p>
                            </div>
							<div class="form-group">
								<div class="canopi-input-title">CCNA:</div>
								<input type="text" class="form-control" placeholder="">
							</div>
							<div class="form-group">
								<div class="canopi-input-title">IPAG CLLI:</div>
								<input type="text" class="form-control" placeholder="" disabled>
							</div>
							<div class="form-group">
								<div class="canopi-input-title">Exc. Conn. Site:</div>
								<div class="dropdown">
									<select class="dropdown-select form-control ng-pristine ng-valid"
										title="Please select" data-live-search="false">
										<option></option>
										<option></option>
										<option></option>
										<option></option>
										<option></option>
										<option></option>
									</select>
								</div>
							</div>
							<div class="form-group required" >
								<div class="canopi-input-title">COS Category:</div>
								<div class="dropdown">
									<select class="dropdown-select form-control ng-pristine ng-valid"
										title="Please select" data-live-search="false">
										<option></option>
										<option></option>
										<option></option>
										<option></option>
										<option></option>
										<option></option>
									</select>
								</div>
							</div>
							<div class="form-group required">
								<div class="canopi-input-title">Site Type:</div>
								<div class="dropdown">
									<select class="dropdown-select form-control ng-pristine ng-valid"
										title="Please select" data-live-search="false">
										<option></option>
										<option></option>
										<option></option>
										<option></option>
										<option></option>
										<option></option>
									</select>
								</div>
							</div>
							<div class="form-group required">
								<div class="canopi-input-title">Originator Contact ID:</div>
								<input type="text" class="form-control" placeholder="">
							</div>
							<div class="form-group required">
								<div class="canopi-input-title">Originator Contact Phone:</div>
								<input type="text" class="form-control" placeholder="">
							</div>
							<div class="form-group required">
								<div class="canopi-input-title">Service Order Number:</div>
								<input type="text" class="form-control" placeholder="">
							</div>
							<div class="form-group">
								<div class="canopi-input-title">BBNMS Internal Order NO:</div>
								<input type="text" class="form-control" placeholder="" disabled>
							</div>
							<div class="form-group required">
								<div class="canopi-input-title">WFA/C Order Number:</div>
								<input type="text" class="form-control" placeholder="">
							</div>
							<div class="form-group required">
								<div class="canopi-input-title">NTI:</div>
								<div class="dropdown">
									<select class="dropdown-select form-control ng-pristine ng-valid"
										title="Please select" data-live-search="false">
										<option></option>
										<option></option>
										<option></option>
										<option></option>
										<option></option>
										<option></option>
									</select>
								</div>
							</div>
							<div class="form-group required">
								<div class="canopi-input-title">Vectoring:</div>
								<div class="dropdown">
									<select class="dropdown-select form-control ng-pristine ng-valid"
										title="Please select" data-live-search="false">
										<option></option>
										<option></option>
										<option></option>
										<option></option>
										<option></option>
										<option></option>
									</select>
								</div>
							</div>
							<div class="form-group required">
								<div class="canopi-input-title">17MHZ Subtype:</div>
								<div class="dropdown">
									<select class="dropdown-select form-control ng-pristine ng-valid"
										title="Please select" data-live-search="false">
										<option></option>
										<option></option>
										<option></option>
										<option></option>
										<option></option>
										<option></option>
									</select>
								</div>
							</div>
							<div class="form-group required">
								<div class="canopi-input-title">Access ID:</div>
								<input type="text" class="form-control" placeholder="" disabled>
							</div>
							<div class="form-group required">
								<div class="canopi-input-title">Access Port ID:</div>
								<input type="text" class="form-control" placeholder="" disabled>
							</div>
						</div><!-- end col -->
					</div> <!-- end form -->
					<!-- TABSET -->
					<div class="row">
						<tabset class="canopi-tabset" justified="false"> 
							<tab heading="Customer Service Info">
								<div class="row">
									<div class="col-lg-4 col-md-4 col-sm-4">
										<div class="form-group required">
											<div class="canopi-input-title">Address ID:</div>
											<input type="text" class="form-control" placeholder="">
										</div>
										<div class="form-group required">
											<div class="canopi-input-title">Local Contact Name:</div>
											<input type="text" class="form-control" placeholder="">
										</div>
										<div class="form-group required">
											<div class="canopi-input-title">Local Contact Phone:</div>
											<input type="text" class="form-control" placeholder="">
										</div>
										<div class="form-group">
											<div class="canopi-input-title">ZIP:</div>
											<input type="text" class="form-control" placeholder="">
										</div>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-4">
										<div class="form-group">
											<div class="canopi-input-title">Address1:</div>
											<input type="text" class="form-control" placeholder="" disabled>
										</div>
										<div class="form-group">
											<div class="canopi-input-title">Address2:</div>
											<input type="text" class="form-control" placeholder="" disabled>
										</div>
										<div class="form-group">
											<div class="canopi-input-title">City:</div>
											<input type="text" class="form-control" placeholder="" disabled>
										</div>
										<div class="form-group">
											<div class="canopi-input-title">State:</div>
											<input type="text" class="form-control" placeholder="" disabled>
										</div>
									</div>
								</div>
							</tab>
							<tab heading="Critical Dates">
								<div class="row">
									<div class="col-lg-4 col-md-4 col-sm-4">
										<div class="form-group canopi-right-inner-addon required">
											<div class="canopi-input-title">APP:</div>
											<i class="fa fa-calendar"></i>
											<input bootstrap-datepicker type="text" class="form-control" placeholder="">
										</div>
										<div class="form-group canopi-right-inner-addon required">
											<div class="canopi-input-title">SID:</div>
											<i class="fa fa-calendar"></i>
											<input bootstrap-datepicker type="text" class="form-control" placeholder="">
										</div>
										<div class="form-group canopi-right-inner-addon">
											<div class="canopi-input-title">LAM:</div>
											<i class="fa fa-calendar"></i>
											<input bootstrap-datepicker type="text" class="form-control" placeholder="">
										</div>
										<div class="form-group canopi-right-inner-addon">
											<div class="canopi-input-title">EIRD:</div>
											<i class="fa fa-calendar"></i>
											<input bootstrap-datepicker type="text" class="form-control" placeholder="">
										</div>
										<div class="form-group canopi-right-inner-addon">
											<div class="canopi-input-title">DLRD:</div>
											<i class="fa fa-calendar"></i>
											<input bootstrap-datepicker type="text" class="form-control" placeholder="">
										</div>
										<div class="form-group canopi-right-inner-addon">
											<div class="canopi-input-title">CDLRD:</div>
											<i class="fa fa-calendar"></i>
											<input bootstrap-datepicker type="text" class="form-control" placeholder="">
										</div>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-4">
										<div class="form-group canopi-right-inner-addon required">
											<div class="canopi-input-title">RID:</div>
											<i class="fa fa-calendar"></i>
											<input bootstrap-datepicker type="text" class="form-control" placeholder="">
										</div>
										<div class="form-group canopi-right-inner-addon">
											<div class="canopi-input-title">DVA:</div>
											<i class="fa fa-calendar"></i>
											<input bootstrap-datepicker type="text" class="form-control" placeholder="">
										</div>
										<div class="form-group canopi-right-inner-addon">
											<div class="canopi-input-title">WOT:</div>
											<i class="fa fa-calendar"></i>
											<input bootstrap-datepicker type="text" class="form-control" placeholder="">
										</div>
										<div class="form-group canopi-right-inner-addon">
											<div class="canopi-input-title">FCD/ZFCD:</div>
											<i class="fa fa-calendar"></i>
											<input bootstrap-datepicker type="text" class="form-control" placeholder="">
										</div>
										<div class="form-group canopi-right-inner-addon">
											<div class="canopi-input-title">PTD:</div>
											<i class="fa fa-calendar"></i>
											<input bootstrap-datepicker type="text" class="form-control" placeholder="">
										</div>
										<div class="form-group canopi-right-inner-addon required">
											<div class="canopi-input-title">Committed Due Date:</div>
											<i class="fa fa-calendar"></i>
											<input bootstrap-datepicker type="text" class="form-control" placeholder="">
										</div>
									</div>
								</div>
							</tab>
							<tab heading="External Order Info">
									<div class="row">
										<div class="col-lg-4 col-md-4 col-sm-4">
											<div class="form-group">
												<div class="canopi-input-title">ASR Number:</div>
												<input type="text" class="form-control" placeholder="">
											</div>
											<div class="form-group">
												<div class="canopi-input-title">ASR/PON Version:</div>
												<input type="text" class="form-control" placeholder="">
											</div>
											<div class="form-group">
												<div class="canopi-input-title">Req Type:</div>
												<input type="text" class="form-control" placeholder="">
											</div>
										</div>
										<div class="col-lg-4 col-md-4 col-sm-4">
											<div class="form-group">
												<div class="canopi-input-title">ASR Item ID:</div>
												<input type="text" class="form-control" placeholder="">
											</div>
											<div class="form-group">
												<div class="canopi-input-title">ASR SUPP Type:</div>
												<input type="text" class="form-control" placeholder="">
											</div>
											<div class="form-group">
												<div class="canopi-input-title">ICSC:</div>
												<input type="text" class="form-control" placeholder="">
											</div>
										</div>
										<div class="col-lg-4 col-md-4 col-sm-4">
											<div class="form-group">
												<div class="canopi-input-title">ASR Type:</div>
												<input type="text" class="form-control" placeholder="">
											</div>
											<div class="form-group">
												<div class="canopi-input-title">ASR PON:</div>
												<input type="text" class="form-control" placeholder="">
											</div>
											<div class="form-group">
												<div class="canopi-input-title">ASR Activity:</div>
												<input type="text" class="form-control" placeholder="">
											</div>
										</div>
									</div>
								</tab> <!-- End external order info -->
						</tabset>
					</div>
					
					<!-- SEARCH AND CLEAR BUTTONS -->
		        	<div class="row" style="padding-left: 20px; padding-right: 20px;">
						<div class="col-md-12">
							<button href='javascript:void(0);' class="btn canopi-btn-blue"><span>Submit</span></button>
							<button href='javascript:void(0);' class="btn canopi-btn-gray"><span>Clear</span></button>
						</div>
					</div>
				</div> <!-- end panel body -->
			</div> <!-- end panel -->
		</div>
	</div>
</div>