/*************************************************
[TABLE OF CONTENTS]
1. Workorder & Templates
2. Tasks
3. Lookup & Pickup Lists
4. Queues
5. Rules
6. Utility
*************************************************/

/***********************************************
    1. Workorder & Templates
************************************************/
.UDATableUIGrid {
    /*347px default height*/
   height: 335px; 
}

.LinksTableUIGrid {
    /*347px default height*/
   height: 335px; 
}
/***********************************************
    2. Tasks
************************************************/
.tasksSearchResultsUIGrid {
/* width: 1160px; */
 height: 335px; /*Was 250px before*/
 margin-bottom: 10px;
}

.tasksTasksListUIGrid {
/* width: 1160px; */
 /*347px default height*/
height: 335px; 
 margin-bottom: 10px;
}

.subTasksGrid{
height: 335px; 
}
/***********************************************
    3. Lookup & Pickup Lists
************************************************/
.lookupAdminUIGrid {
    /*347px default height*/
margin-bottom: 10px;
height: 335px;
}
/***********************************************
    4. Queues
************************************************/

/***********************************************
    5. Rules
************************************************/
.ruleAdminUIGrid{
    /*347px default height*/
    height: 335px;
}
/***********************************************
    6. Utility
************************************************/

div.tooltip-inner{
     max-width: 326px;
}